<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">
    <head>
        <title>500</title>
        <vtex:metaTags/>
        <meta name="robots" content="noindex, nofollow"/>
        <link type="text/css" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet" />
        <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap.js" ></script> 
    </head>
<body>
    <div class="all">
        <!-- Container -->
        <div id="my-account" class="container">
            <div class="page-header">
                <h3>500</h3>   
            </div>
            <!-- header -->
            <div class="row content">
                <h4>500</h4>   
            </div>
            <br />
        </div>
        <!-- Container -->   
    </div>
</body>
</html>