<!-- 
 *
 * Desenvolvido por Integrando.se
 * hello@integrando.se
 * 
 * Bootstrap v.3
 *
 -->

 <!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="es-co">
 
 <head>
     <title> Modelo Vtex</title>
     <vtex:metaTags/>
     <vtex:template id="commonStyles" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 
 </head>
 
 <body id="institucional-page">
 
     <div class="page">
 
         <!--  SubTemplate: Header -->
         <vtex:template id="Header" />
         <!-- /SubTemplate: Header -->
                     
         <div id="institucional-extra-top"></div>
 
         <section id="institucional-content" class="container">
 
             <div id="box-bread-brumb" class="hidden-xs">
                 <vtex.cmc:breadCrumb />
             </div>
 
             <div id="institucional-extra-middle"></div>
 
             <h2 class="titulo-institucional">Ajuda</h2>
 
             <div class="conteudo-institucional">
                 <vtex:contentPlaceHolder id="ajuda" />
             </div>
 
         </section><!-- #content -->  
         
         <div id="institucional-extra-bottom"></div>
                 
         <!--  SubTemplate: Footer -->
         <vtex:template id="Footer" />
         <!-- /SubTemplate: Footer -->
     
     </div><!-- .container-fluid -->
 
 </body>
     <vtex:template id="commonScripts" />
 </html>