<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="es-LA">

<head>
    <title>Fruta Fresca | Categoría</title>
    <vtex:metaTags/>
    <vtex:template id="ff-commonStyles" />
    <link rel="stylesheet" href="/arquivos/ff-categoria.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="categoria" id="category-page">

    <div class="page">

  		<!--  SubTemplate: Header -->
  		<vtex:template id="ff-header" />
  		<!-- /SubTemplate: Header -->

  		<section class="container">

  			<div class="ff-container">
          <vtex.cmc:breadCrumb />
          <!-- banner categoria :start -->
          <div class="cat-container__banner">
            <vtex:contentPlaceHolder id="bannerCategoria"/>
            <h1><vtex:contentPlaceHolder id="h1-categoria"/></h1>
            <vtex.cmc:searchTitle />
          </div>
          <!-- banner categoria :end -->
          <div class="cat-container">
            <!-- filtros :start -->
            <div class="cat-container__filtros">
              <div class="filters__links">
                <a class="filter_link filter_link__filtrar">FILTRAR POR <i class="icon-angle-up"></i></a>
                <a class="filter_link filter_link__ordenar">ORDENAR POR <i class="icon-angle-up"></i></a>
                <div class="product-display">
                  <div class="product-display__selector threecolumns">
                    <i class="icon-show-three"></i>
                  </div>
                  <div class="product-display__selector twocolumns">
                    <i class="icon-show-two"></i>
                  </div>
                  <div class="product-display__selector onecolumns">
                    <i class="icon-show-one"></i>
                  </div>
                </div>
              </div>
              <div class="filters-container">
                <div class="filters__filter">
                  <h2>FILTRAR POR</h2>
                  <i class="icon-close"></i>
                  <vtex.cmc:searchNavigator/>
                </div>
                <div class="filters__ordenar">
                  <h2>ORDENAR POR</h2>
                  <i class="icon-close"></i>
                  <ul>
                    <li query="OrderByPriceASC">Menor Precio <i class="icon-angle"></i></li>
                    <li query="OrderByPriceDESC">Mayor Precio <i class="icon-angle"></i></li>
                    <li query="OrderByTopSaleDESC">Más Vendidos<i class="icon-angle"></i></li>
                    <li query="OrderByReviewRateDESC">Mejor Evaluados<i class="icon-angle"></i></li>
                    <li query="OrderByNameASC">A -Z <i class="icon-angle"></i></li>
                    <li query="OrderByReleaseDateDESC">Fecha de Lanzamiento <i class="icon-angle"></i></li>
                    <li query="OrderByBestDiscountDESC">Mejor Descuento<i class="icon-angle"></i></li>
                  </ul>
                </div>
                <div class="filters__categorias visually-hidden">
                  <h2>ENCUENTRA OTRAS CATEGORÍAS</h2>
                  <ul class="site-nav__submenu site-nav__submenu__marcas visually-hidden">
                    <li class="site-nav__submenu--has-sub-submenu site-nav__marca">
                      <ul class="site-nav__sub-submenu">
                        <li><a href="/marcas/new-balance" class="site-nav__link">New Balance</a></li>
                        <li><a href="/marcas/urban-rock" class="site-nav__link">Urban Rock</a></li>
                        <li><a href="/marcas/tecno-sport" class="site-nav__link">Tecno Sport</a></li>
                        <li><a href="/marcas/black-diamond" class="site-nav__link">Black Diamond</a></li>
                        <li><a href="/marcas/adidas" class="site-nav__link">Adidas</a></li>
                        <li><a href="/marcas/americanino" class="site-nav__link">Americanino</a></li>
                        <li><a href="/marcas/chevignon" class="site-nav__link">Chevingnon</a></li>
                      </ul>
                    </li>
                    <li class="site-nav__submenu--has-sub-submenu site-nav__marca">
                      <ul class="site-nav__sub-submenu">
                        <li><a href="/marcas/converse" class="site-nav__link">Converse</a></li>
                        <li><a href="/marcas/diesel" class="site-nav__link">Diesel</a></li>
                        <li><a href="/marcas/f-net" class="site-nav__link">F> Net</a></li>
                        <li><a href="/marcas/fossil" class="site-nav__link">Fossil</a></li>
                        <li><a href="/marcas/fox" class="site-nav__link">Fox</a></li>
                        <li><a href="/marcas/gir" class="site-nav__link">Girbaud</a></li>
                        <li><a href="/marcas/lacoste" class="site-nav__link">Lacoste</a></li>
                      </ul>
                    </li>
                    <li class="site-nav__submenu--has-sub-submenu site-nav__marca">
                      <ul class="site-nav__sub-submenu">
                        <li><a href="/marcas/miracle" class="site-nav__link">Miracle</a></li>
                        <li><a href="/marcas/new-project" class="site-nav__link">New Project</a></li>
                        <li><a href="/marcas/oakley" class="site-nav__link">Oakley</a></li>
                        <li><a href="/marcas/sketchers" class="site-nav__link">Sketchers</a></li>
                        <li><a href="/marcas/superdry" class="site-nav__link">Superdry</a></li>
                        <li><a href="/marcas/unico" class="site-nav__link">Único</a></li>
                      </ul>
                    </li>
                    <li class="site-nav__submenu--has-sub-submenu site-nav__marca">
                      <div class="site-nav__img">
                        <img src="/arquivos/bnMenuMarcas.jpg" alt=""/>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- filtros :end -->
            <!-- vitrinas :start -->
            <div class="cat-container__products">
              <div class="product-display">
                <div class="product-display__selector threecolumns">
                  <i class="icon-show-three"></i>
                </div>
                <div class="product-display__selector twocolumns">
                  <i class="icon-show-two"></i>
                </div>
                <div class="product-display__selector onecolumns">
                  <i class="icon-show-one"></i>
                </div>
              </div>
              <div class="cat-container__products__vitrine">
                <vtex.cmc:searchResult layout="4989dbf3-e677-45b9-a71e-47edfbb7e349" itemCount="12"  columnCount="1" />
              </div>
            </div>
            <!-- vitrinas :end -->
          </div>
  			</div>
  		</section>
  		<!--  SubTemplate: Footer -->
  		<vtex:template id="ff-footer" />
  		<!-- /SubTemplate: Footer -->
        <!--  SubTemplate: lightbox de producto agregado al carrito -->
        <vtex:template id="ff-lightboxProductoAgregado" />
        <!-- /SubTemplate: lightbox de producto agregado al carrito -->
  	</div>
</body>
    <vtex:template id="ff-commonScripts" />
    <script type="text/javascript" src="/arquivos/ff-categoria.bundle.min.js"></script>
</html>
