<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">

<head>
    <title>Loja Online</title>
    <vtex:metaTags/> 
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="span10 offset1">
                <!--  SubTemplate: Header -->
                <vtex:template id="Header" />
                <!--  /SubTemplate: Header -->
                
                <div id="content" class="row-fluid">
                    <vtex:contentPlaceHolder id="htmlhotsite" />
                </div>                
               
                <!--  SubTemplate: Footer -->
                <vtex:template id="Footer" />
                <!-- /SubTemplate: Footer -->                
            </div>
        </div>
    </div>
</body>
</html>