<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">
<head>
<title>Enviar lista para o Carrinho</title>
</head>
<body>

<div id="all">
<div id="content">

<h2 class="titulo-sessao">Enviar para o Carrinho</h2>
<!-- Controle: enviar itens do carrinho para a lista -->
<vtex.cmc:GiftListCartToListV2 />
<!-- 
os seguintes parâmtros são permitidos:
mycart="_ID_" especifica o tipo de lista padrão do carrinho. O padrão é 6
types="1,2,3,..." especifica quais tipos de listas serão permitidos. Por padrão, todos os tipos ativos são permitidos
 -->
<!-- /Controle: enviar itens do carrinho para a lista -->


</div>
</div>

</body>
</html>