<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">
<head>
<title>Nova Lista</title>
</head>
<body>

<div id="all">
<div id="content">

<h2 class="titulo-sessao">Nova Lista</h2>
<!-- Controle: Criar uma Lista -->
<vtex.cmc:GiftListFormV2 />
<!-- 
os seguintes parâmtros são permitidos:
types="1,2,3,..." especifica quais tipos de listas serão permitidos na criação. Por padrão, todos os tipos ativos são permitidos
urlmanage="http://mysite.com/alternatefolder" caminho customizado nos links para a página de gerenciamento da lista
urledit="http://mysite.com/alternatefolder" caminho customizado nos links para a página de edição da lista
 -->
<!-- /Controle: Criar uma Lista -->


</div>
</div>

</body>
</html>