<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">
<head>
<title>Produtos na Lista</title>
</head>
<body>

<div id="all">
<div id="content">

<h2 class="titulo-sessao">Produtos na Lista</h2>
<!-- Controle: Informações de uma Lista -->
<vtex.cmc:GiftListInfoV2 />
<!-- /Controle: informações de uma Lista -->

<span class="giftlist no-template-found"></span>
<!-- 
Crie um template de prateleira específico para Listas
 -->


</div>
</div>

</body>
</html>