<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">
<head>
<title>Listas</title>
</head>
<body>

<div id="all">
<div id="content">

<h2 class="titulo-sessao">Listas</h2>
<!-- Controle: Gerenciar uma Lista -->
<vtex.cmc:GiftListManagerV2 />
<!-- 
os seguintes parâmtros são permitidos:
types="1,2,3,..." especifica quais tipos de listas serão permitidos na criação. Por padrão, todos os tipos ativos são permitidos
urlmanage="http://mysite.com/alternatefolder" caminho customizado nos links para a página de gerenciamento da lista
urledit="http://mysite.com/alternatefolder" caminho customizado nos links para a página de edição e criação da lista
urlproduct="http://mysite.com/alternatefolder" caminho customizado nos links para a página de produtos da lista
 -->
<!-- /Controle: Gerenciar uma Lista -->

<!-- Controle: Busca de Listas -->
<vtex.cmc:GiftListSearchV2 />
<!-- 
os seguintes parâmtros são permitidos:
types="1,2,3,..." especifica quais tipos de listas serão permitidos nos resultados de busca. Por padrão, todos os tipos ativos são permitidos
 -->
<!-- /Controle: Busca de Listas -->


</div>
</div>

</body>
</html>