<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">

<head>
    <vtex:contentPlaceHolder id="metatags" />
    <vtex:metaTags/>
    <vtex:template id="MOVIES - CommonStyles" />
    <link rel="stylesheet" href="/files/movies-inicio.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body id="home">
    <vtex:template id="MOVIES - Header" />
    <vtex:template id="MOVIES - HeaderMobile" />

    <section class="page container">
        <div class="section banner-edits">
            <vtex:contentPlaceHolder id="bannerEdits" />
        </div>
    </section>

    <vtex:template id="MOVIES - Footer" />
</body>
    <vtex:template id="MOVIES - CommonScripts" />
    <script src="/files/movies-inicio.bundle.min.js"></script>
</html>