# Compressed files
# --------------------------------------
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases
# --------------------------------------
*.log
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.sql
*.sqlite

# OS generates files
# --------------------------------------
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Build systems
# --------------------------------------
node_modules/
bower_components/
.sass-cache
build/
dist/
.idea/
package-lock.json

# Build outputs
# --------------------------------------
src/scripts/outputs/
src/styles/outputs/
