    <!------------Footer Checkout Start------------>
    <div class="contenedor-share">
        <div class="texto-share"><span>Comparte tu carrito de compras</span></div>
        <div class="cart-link-share">        
            <div id="cart-sharing-info"> 
                <div class="cart-share-btn" role="button" >Compartir Carrito</div>         
                <input class="share-link-field" type="text" readonly style="width: auto;" />
                <div class="msj-copy" style="display: none;"><span>Link del carrito copiado al portapales</span></div>
            </div> 
            <div class="image-whatsapp">
                <a href="" target="_blank">
                    <img src="/arquivos/whatsapp-movies-cart.png" alt="">
                </a>        
            </div>
        </div>
    </div>
    <div class="movies-footer">    
        <div class="movies-contenedor container">
            <div class="movies-footer-metodo-pago">
                <img class="img-responsive-footer" src="/arquivos/metodos-pago-footer-4.png" alt="movies" />
            </div>
            <div class="movies-footer-message">
                <span>© W STUDIO DE COLOMBIA S.A.S.</span>
            </div>
        </div>
    </div>
    <!------------Footer Checkout End------------>