<!------------Header Checkout Start------------>
<div class="movies-header">
    <div class="container-header-movies" style="display: flex;position: relative;justify-content: center;background-color: #131e29;">
        <a href="/" title="Go to homepage movies" style="position: absolute;display: block;left: 0;width: 100%;height: 100%;"></a>
        <picture>
            <source media="(max-width: 768px)" srcset="/arquivos/Logo-Movies-Mobile.png">
            <img src="/arquivos/Logo-Movies.png" alt="movies" width="250">
        </picture>
    </div>
    <div style="display: flex;justify-content: center;padding: 10px;">
        <span style="font-weight: bold;color: #9c9b9b;text-align: center;">Línea de atención nacional 350 316 73 11</span>
    </div>
</div>
<!------------Header Checkout End------------>