<div id="corporate-content" class="corporate-content-aviso-de-privacidad">
    <h1 class="main-title">Aviso de privacidad</h1>
    <div class="block-content">
        <p class="regular-content">
            En cumplimiento de las disposiciones contenidas en el artículo 15 de la Constitución Política, Ley 1581 de 2012, Decreto reglamentario 1377 de 2013, y demás normas que lo modifiquen, adicionen, complementen o desarrollen, la compañía <strong>W STUDIO DE COLOMBIA S.A.S.</strong>, identificada con el NIT. 900.738.307 - 9, en adelante <strong>MOVIES</strong>, en calidad de responsable del tratamiento de Datos Personales, manifiesta: 
        </p>
    </div>
    <div class="block-content">
        <p class="secondary-title">1. INFORMACIÓN GENERAL DE MOVIES COMO RESPONSABLE DEL TRATAMIENTO DE DATOS PERSONALES</p>
        <div class="twice-table-content">
            <div class="title-table-content">
                <p><strong>Razón Social:</strong></p>
            </div>
            <div class="text-table-content">
                <p>W STUDIO DE COLOMBIA S.A.S.</p>
            </div>
            <div class="title-table-content">
                <p><strong>NIT:</strong></p>
            </div>
            <div class="text-table-content">
                <p>900.738.307 – 9</p>
            </div>
            <div class="title-table-content">
                <p><strong>Domicilio:</strong></p>
            </div>
            <div class="text-table-content">
                <p>Sabaneta, Antioquia</p>
            </div>
            <div class="title-table-content">
                <p><strong>Teléfono:</strong></p>
            </div>
            <div class="text-table-content">
                <p>+57 (4) 444 28 49 ext. 210</p>
            </div>
            <div class="title-table-content">
                <p><strong>Correo electrónico:</strong></p>
            </div>
            <div class="text-table-content">
                <p><a href="mailto:servicioalcliente@moviesshop.co">servicioalcliente@moviesshop.co</a></p>
            </div>
            <div class="title-table-content">
                <p><strong>Página web:</strong></p>
            </div>
            <div class="text-table-content">
                <p><a href="https://www.moviesshop.co/ ">https://www.moviesshop.co/ </a></p>
            </div>
        </div>
    </div>
    <div class="block-content">
        <p class="secondary-title">2. FINALIDAD DEL TRATAMIENTO DE LOS DATOS PERSONALES</p>
        <p class="regular-content">
            <strong>MOVIES</strong> realizará el tratamiento de los datos personales con las siguientes finalidades:
        </p>
        <ol type="a" class="letter-list">
            <li>
                Realizar, a través de cualquier medio en forma directa o a través de terceros, actividades de mercadeo, promoción y/o publicidad propia o de terceros, facturación, gestión de cobranza, recaudo, programación, soporte técnico, inteligencia de mercados, mejoramiento del servicio, verificaciones y consultas, control, comportamiento, hábito y habilitación de medios de pago, prevención de fraude, así como cualquier otra relacionada con nuestros productos y servicios, actuales y futuros, para el cumplimiento de las obligaciones contractuales y de nuestro objeto social.
            </li>
            <li>
                Generar una comunicación óptima en relación con nuestros servicios, productos, promociones, facturación y demás actividades.
            </li>
            <li>
                Evaluar la calidad de nuestros productos y servicios y realizar estudios sobre hábitos de consumo, preferencia, interés de compra, prueba de producto, concepto, evaluación del servicio, satisfacción y otras relacionadas con nuestros servicios y productos.
            </li>
            <li>
                Prestar asistencia, servicio y soporte técnico de nuestros productos y servicios.
            </li>
            <li>
                Realizar las gestiones necesarias para dar cumplimiento a las obligaciones inherentes a los servicios prestados por <strong>MOVIES</strong>, estando autorizado incluso, para suministrar la información personal a terceros que considere que deben conocerla para tales fines.
            </li>
            <li>
                Recargar y transformar la información a diferentes formatos e incluirla en plataformas que permitan su consulta para las finalidades propuestas.
            </li>
            <li>
                Cumplir con las obligaciones contraídas con nuestros afiliados, aliados, usuarios, proveedores, sus filiales, distribuidores, subcontratistas y demás personas relacionadas directa o indirectamente con el objeto social de <strong>MOVIES</strong>.
            </li>
            <li>
                Controlar y prevenir el fraude en todas sus modalidades.
            </li>
        </ol>
    </div>
    <div class="block-content">
        <p class="secondary-title">3. DERECHOS QUE LE ASISTEN A LOS TITULARES DE LOS DATOS PERSONALES</p>
        <ol type="a" class="letter-list">
            <li>
                Conocer, actualizar y rectificar sus datos personales frente a los Responsables del Tratamiento o Encargados del Tratamiento. Este derecho se podrá ejercer, entre otros frente a datos parciales, inexactos, incompletos, fraccionados, que induzcan a error, o aquellos cuyo Tratamiento esté expresamente prohibido o no haya sido autorizado;
            </li>
            <li>
                Solicitar prueba de la autorización otorgada al Responsable del Tratamiento salvo cuando expresamente se exceptúe como requisito para el Tratamiento, de conformidad con lo previsto en el artículo 10 de la presente ley;
            </li>
            <li>
                Ser informado por el Responsable del Tratamiento o el Encargado del Tratamiento, previa solicitud, respecto del uso que le ha dado a sus datos personales;
            </li>
            <li>
                Presentar ante la Superintendencia de Industria y Comercio quejas por infracciones a lo dispuesto en la presente ley y las demás normas que la modifiquen, adicionen o complementen;
            </li>
            <li>
                Revocar la autorización y/o solicitar la supresión del dato cuando en el Tratamiento no se respeten los principios, derechos y garantías constitucionales y legales. La revocatoria y/o supresión procederá cuando la Superintendencia de Industria y Comercio haya determinado que en el Tratamiento el Responsable o Encargado han incurrido en conductas contrarias a esta ley y a la Constitución;
            </li>
            <li>
                Acceder en forma gratuita a sus datos personales que hayan sido objeto de Tratamiento.
            </li>
        </ol>
    </div>
    <div class="block-content">
        <p class="secondary-title">4. MECANISMOS PARA LA CONSULTA DE LA POLÍTICA DE TRATAMIENTO DE DATOS Y SUS MODIFICACIONES</p>
        <p class="regular-content">
            Las políticas de tratamiento de datos personales de <strong>MOVIES</strong>, podrán ser consultadas en nuestra página web <a href="https://www.moviesshop.co/">https://www.moviesshop.co/ </a>
        </p>
    </div>
</div>