<div id="corporate-content" class="corporate-content-cambios-y-devoluciones">
    <h1 class="main-title">Cambios y devoluciones</h1>
    <div class="block-content">
        <p class="regular-content">
            “MOVIES, procederá a realizar los cambios y a aceptar las devoluciones de los productos que no hayan sido usados hasta 1 mes (30 días) después de la compra. 
        </p>
        <p class="regular-content">
            De presentarse el caso de que se decida efectuar un cambio por un producto de mayor valor, el excedente deberá ser pagado contra entrega por parte del Usuario. Para que el cambio tenga validez los productos que van a ser cambiados se deben devolver a MOVIES en los puntos de venta de formato MOVIES o a través de contacto directo por el formulario del contáctenos que se encuentra en la página web <a href="www.moviesshop.co">www.moviesshop.co</a>, dichos productos deben encontrarse en perfectas condiciones, en el empaque original, con las etiquetas aún puestas y la correspondiente factura de compra, de lo contrario el cambio no será aceptado. 
        </p>
        <p class="regular-content">
            No se aceptarán devoluciones de prendas íntimas y vestidos de baño tanto de dama como caballero a menos que sean por defectos de calidad, idoneidad o seguridad para lo cual se procederá de acuerdo con las condiciones de Garantía Legal.
        </p>
        <p class="regular-content">
            El tiempo de procesamiento de la solicitud de devolución o cambio será de 24 horas más un término adicional equivalente al tiempo previsto para el transporte (remisión del nuevo envío) de la mercancía según lugar de destino de esta; el tiempo de transporte será el que defina la empresa transportadora para cada despacho, MOVIES no se hará responsable por los perjuicios que pueda ocasionar el retardo en el trasporte de la mercancía. El lugar de destino para el envío de los cambios de mercancía solicitados por el cliente deberá encontrarse dentro de las zonas geográficas habilitadas en el sitio para el territorio colombiano”.
        </p>
    </div>      
</div>