<div id="corporate-content" class="corporate-content-como-comprar">
    <h1 class="main-title">¿Cómo comprar?</h1>
    <div class="block-content">
        <ol type="1" class="number-list">
            <li>
                “Ingresa a <a href="https://www.moviesshop.co/">https://www.moviesshop.co/</a>
            </li>            
            <li>
                Si deseas comprar un producto específico puedes navegar a través de las categorías o utilizar la barra de búsqueda
            </li>
            <li>
                Selecciona el producto y la talla adecuada
            </li>
            <li>
                Elige el color y la cantidad
            </li>
            <li>
                Da click en “Agregar al Carrito”
            </li>
            <li>
                Si tu pedido está completo, selecciona “Carrito de Compras”   
            </li>
            <li>
                Si deseas seguir comprando, selecciona “Continuar Comprando”
            </li>
            <li>
                Si tienes un código de descuento ingrésalo en “Tengo un Cupón de DCT”
            </li>
            <li>
                Da click en “Finalizar Compra”
            </li>
            <li>
                Diligencia tus datos de envío y elige tu forma de pago. Puedes pagar con tarjeta débito, crédito o en efectivo a través de puntos Baloto o Efecty.
            </li>
            <li>
                Efectúa el pago y termina la compra”.
            </li>
        </ol>
    </div>
</div>