<div id="corporate-content" class="corporate-content-contactanos">
    <h1 class="main-title">Contáctanos</h1>
    <div class="block-content">
        <form id="form_cliente_contacto">
            <div class="col-xs-12">
                <p class="title-input">Nombre completo(*)</p>
                <div class="contact-input-container">
                    <input type="text" id="contacto_nombre" name="contacto_nombre" placeholder="Nombre..." required="required" />
                </div>
            </div>
            <div class="col-xs-12">
                <p class="title-input">Correo electrónico(*)</p>
                <div class="contact-input-container">
                    <input type="text" id="contacto_correo" name="contacto_correo" placeholder="Correo..." required="required" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <p class="title-input">Ciudad</p>
                <div class="contact-input-container">
                    <input type="text" id="contacto_ciudad" name="contacto_ciudad" placeholder="Ciudad..." required="required" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <p class="title-input">Teléfono(*)</p>
                <div class="contact-input-container">
                    <input type="text" id="contacto_telefono" name="contacto_telefono" placeholder="Telefono..." required="required" />
                </div>
            </div>
            <div class="col-xs-12">
                <p class="title-input">Asunto(*)</p>
                <div class="custom-select">
                    <select id="contacto_asunto">
                        <option value="vacio">Seleccione el motivo de su consulta:</option>
                        <option value="Comentario producto">Comentario sobre un producto</option>
                        <option value="consulta">Consulta</option>
                        <option value="Comentario pedido">Comentario sobre un pedido</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12">
                <p class="title-input">Escribe tu mensaje</p>
                <div class="contact-input-container">
                    <textarea id="contacto_mensaje" name="contacto_mensaje" placeholder="Mensaje..." style="resize: none;"></textarea>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="contact-form-submit">
                    <div class="contact-form-submit-title">
                        <button class="register-button" id="contacto_enviar">ENVIAR MENSAJE</button>
                    </div>
                    <div class="contact-form-submit-img">
                        <img src="/arquivos/NextWhiteIcon.png" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>