<div id="corporate-content" class="corporate-content-garantia-de-productos">
    <h1 class="main-title">Garantía legal</h1>
    <div class="block-content">        
        <p class="regular-content">
            En cumplimiento de los términos del artículo 11 de la Ley 1480 de 2011, MOVIES otorgará garantía sobre sus productos en los siguientes términos para aquellos productos susceptibles de ella única y exclusivamente por defectos en su calidad, idoneidad o seguridad, procediendo en caso de ser aceptada por ajustarse a la normatividad vigente:
        </p>
        <p class="regular-content">
            “Cambio totalmente gratuito del bien, así como su transporte, de ser necesario. En caso de que el nuevo producto presente nuevamente fallas, se procederá, a elección del Usuario, con un nuevo cambio, devolución total o parcial del precio pagado o al cambio parcial o total del bien por otro de la misma especie, similares características o especificaciones técnicas, las cuales en ningún caso podrán ser inferiores a las del producto que dio lugar a la garantía”.
        </p>
        <p class="regular-content">
            En cualquier caso, el término de la garantía legal es de treinta (30) días contados a partir de la entrega del producto y, en cualquier caso, para su procedencia, el Usuario debe haber cumplido con todos los estándares de cuidado y uso de los productos
        </p>
        <p class="regular-content">
            La solicitud de garantía puede ser efectuada a través de los canales de atención dispuestos por MOVIES, esto es, a través del teléfono +57 (4) 444 28 49 ext. 210, al celular 350 316 73 11 o al correo electrónico <a href="mailto:servicioalcliente@moviesshop.co">servicioalcliente@moviesshop.co</a>. En cualquier caso, MOVIES dará estudio a cada solicitud y la resolverá en los términos de la ley aplicable.”
        </p>
    </div>    
</div>