<div id="corporate-content" class="corporate-content-legales">
    <h1 class="main-title">Legales campañas</h1>
    <!--<div class="block-content">
        <p class="regular-content">
            <strong>Promocional Lanzamiento nueva tienda online:</strong> Promoción válida del 01 al 05 de junio del 2020 en https://www.moviesshop.co/. Hasta el 50% de descuento en referencias seleccionadas. El descuento solo aplica para las prendas seleccionadas en el promocional antes descrito y/o hasta agotar existencias. Los descuentos no son acumulables entre sí ni con otras promociones u otro tipo de descuentos. Productos en promoción no tienen cambio, excepto por garantía legal. El descuento no es canjeable por dinero en efectivo. 500 unidades disponibles en tienda online. Precios sujetos a cambio sin previo aviso. Precio final se verá reflejado en el carrito de compras al momento de ingresar el medio de pago. Los precios pueden variar de acuerdo con la talla y color del producto.
        </p>
    </div>-->
    <div class="block-content">
        <p class="regular-content">
            <strong>Promocionales Ecommerce:</strong> Válido solo en nuestra tienda online hasta el último día del mes en que fue enviado el mensaje de texto. Descuento válido en referencias seleccionadas. No aplica en producto no textil, accesorios ni ropa interior. No es acumulable con otros descuentos. Para redimir este descuento online es necesario aplicar el código nuevo15 antes finalizar la compra.
        </p>
    </div>
    <div class="block-content">
        <p class="regular-content">
            <strong>$15.000 Bienvenida:</strong> Válido solo en nuestra tienda online hasta el último día del mes en que fue enviado el mensaje de texto. Descuento válido en referencias seleccionadas. No aplica en producto no textil, accesorios ni ropa interior. No es acumulable con otros descuentos. Para redimir este descuento online es necesario aplicar el código nuevo15 antes finalizar la compra.
        </p>
    </div>
    <div class="block-content">
        <p class="regular-content">
            <strong>-20% Bienvenida:</strong> : Válido en tiendas físicas y online solo hasta el último día del mes en que fue enviado el mensaje de texto. Descuento válido en referencias seleccionadas. No aplica en producto no textil ni accesorios. No es acumulable con otros descuentos. No aplica en outlet. Para redimir este descuento online es necesario aplicar el código nuevo20.
        </p>
    </div>
    <div class="block-content">
        <p class="regular-content">
            <strong>Bono $20.000 te extrañamos:</strong> Válido únicamente solo en nuestra tienda online desde el 1 al 3 de mayo de 2020. Descuento válido en referencias seleccionadas. No es acumulable con otros descuentos. Para redimir el descuento es necesario ingresar el código VUELVE20.
        </p>
    </div>
    <div class="block-content">
        <p class="regular-content">
            <strong>20% por el cumpleaños de tu hijo:</strong> Válido en tiendas físicas y online solo hasta el último día del mes de cumpleaños del niño registrando el número de cédula de la persona quien recibió el mensaje de texto. Descuento válido en referencias seleccionadas. No aplica en producto no textil ni accesorios. No es acumulable con otros descuentos. No aplica en outlet. Para redimir este descuento online es necesario aplicar el código cumple20.
        </p>
    </div>
    <div class="block-content">
        <p class="regular-content">
            <strong>Envíos Express:</strong> La actividad será válida a partir del 15 de abril de 2020 y aplicará sólo para Medellín y sus municipios aledaños de Itagüí, Envigado, Sabaneta y la Estrella. Los pedidos cuyo pago sean aprobados antes de las 12:00 del día serán despachados para su entrega el mismo día. Los pedidos cuyo pago sean aprobado después las 12:00 del día serán programados para su despacho y entrega el siguiente día hábil. El tiempo de entrega podría variar de presentarse novedades en el transporte ajenas a la compañía y/o modificaciones en la dirección de domicilio por parte del cliente. El valor del envío será de $ 9.900 COP. Nuestros envíos son realizados por medio de la empresa transportadora Envía S.A.S. De igual forma, si se presentan demoras en la entrega, te informaremos de inmediato por correo electrónico o vía telefónica.
        </p>
    </div>
    <div class="block-content">
        <p class="regular-content">
            <strong>30% OFF online Policía y Ministerio de Defensa:</strong> : nuestros héroes de la policía y el Ministerio de Defensa tienen 30% OFF en compras online hasta el 31 de diciembre de 2020. Este descuento no es válido en calzando, accesorios ni producto no textil. No es acumulable con otros descuentos y aplica solo en la tienda online, para redimirlo es necesario ingresar el código 30HEROES.
        </p>
    </div>
    <div class="block-content">
        <p class="regular-content">
            <strong>30% OFF online Liga de los Múltiples:</strong> las familias miembro de la Liga de los  Múltiples tienen 30% OFF en compras online hasta el 31 de diciembre de 2020. Este descuento no es válido en calzando, accesorios ni producto no textil. No es acumulable con otros descuentos y aplica solo en la tienda online, para redimirlo es necesario ingresar el código 30MULTIPLES.
        </p>
    </div>
    <div class="block-content">
        <p class="regular-content">
            <strong>$15.000 por el cumpleaños de tu hijo:</strong> Válido en nuestra tienda online solo hasta el último día del mes de cumpleaños del niño registrando la compra con el número de cédula de la persona quien recibió el mensaje de texto. Descuento válido en referencias seleccionadas. No aplica en producto no textil ni accesorios. No es acumulable con otros descuentos. Para Ver reflejado este descuento online es necesario aplicar el código cumple15 antes de finalizar la compra.
        </p>
    </div>
</div>