<div id="corporate-content" class="corporate-content-politicas-de-privacidad">
    <h1 class="main-title">Políticas de privacidad</h1>
    <div class="block-content">
        <p class="secondary-title">POLÍTICA DE TRATAMIENTO DE LA INFORMACIÓN PERSONAL</p>
        <p class="regular-content">
            En cumplimiento de las disposiciones contenidas en el artículo 15 de la Constitución Política, Ley 1581 de 2012, Decreto reglamentario 1377 de 2013, y demás normas que lo modifiquen, adicionen, complementen o desarrollen, la compañía <strong>W STUDIO DE COLOMBIA S.A.S.</strong>, en adelante <strong>MOVIES</strong>, comprometida con el respeto y garantía de los derechos de sus afiliados, proveedores, empleados y terceros en general, da a conocer las políticas y procedimientos de tratamiento de datos personales que se encuentran guardados y custodiados en nuestra base de datos, las cuales son de obligatorio cumplimiento en todas las actividades que involucre, total o parcialmente, la recolección, almacenamiento, uso, circulación y/o transferencia de dicha información
        </p>
        <p class="regular-content">
            La presente Política de Tratamiento de Información Personal es de obligatorio cumplimiento para <strong>MOVIES</strong>, en calidad de responsable, así como para todas las compañías aliadas, filiales o que hacen parte del grupo empresarial de esta.
        </p>
    </div>      
    <div class="block-content">
        <div class="tertiary-title">
            <p><strong>1.	MARCO JURÍDICO</strong></p>
        </div>
        <p class="regular-content">            
            La presente Política de Tratamiento de la información personal tiene su sustento normativo en el artículo 15 de la Constitución Política, en la Ley 1581 de 2012, Decreto reglamentario 1377 de 2013, los cuales disponen:
        </p>
        <div class="subtitle-content">
            <p>
                <strong>Constitución Política</strong>
            </p>
        </div>
        <p class="italic-content">
            <strong>Artículo 15.</strong> Todas las personas tienen derecho a su intimidad personal y familiar y a su buen nombre, y el Estado debe respetarlos y hacerlos respetar. De igual modo, tienen derecho a conocer, actualizar y rectificar las informaciones que se hayan recogido sobre ellas en bancos de datos y en archivos de entidades públicas y privadas.
        </p>
        <p class="italic-content">
            En la recolección, tratamiento y circulación de datos se respetarán la libertad y demás garantías consagradas en la Constitución.
        </p>
        <p class="italic-content">
            La correspondencia y demás formas de comunicación privada son inviolables. Sólo pueden ser interceptadas o registradas mediante orden judicial, en los casos y con las formalidades que establezca la ley.
        </p>
        <p class="italic-content">
            Para efectos tributarios o judiciales y para los casos de inspección, vigilancia e intervención del Estado podrá exigirse la presentación de libros de contabilidad y demás documentos privados, en los términos que señale la ley.  
        </p>
        <div class="subtitle-content">
            <p>
                <strong>Ley Estatutaria 1581 de 2012</strong>
            </p>
        </div>
        <p class="italic-content">
            "Por la cual se dictan disposiciones generales para la protección de datos personales”
        </p>
        <div class="subtitle-content">
            <p>
                <strong>Decreto reglamentario 1377 de 2013</strong>
            </p>
        </div>
        <p class="italic-content">
            "Por el cual se reglamenta parcialmente la Ley 1581 de 2012"
        </p>
    </div> 
    <div class="block-content">
        <div class="tertiary-title">
            <p><strong>2.	INFORMACIÓN GENERAL DE MOVIES COMO RESPONSABLE DEL TRATAMIENTO DE DATOS PERSONALES</strong></p>
        </div>
        <div class="twice-table-content">
            <div class="title-table-content">
                <p><strong>Razón Social:</strong></p>
            </div>
            <div class="text-table-content">
                <p>W STUDIO DE COLOMBIA S.A.S.</p>
            </div>
            <div class="title-table-content">
                <p><strong>NIT.</strong></p>
            </div>
            <div class="text-table-content">
                <p>900.738.307 – 9</p>
            </div>
            <div class="title-table-content">
                <p><strong>Domicilio:</strong></p>
            </div>
            <div class="text-table-content">
                <p>Sabaneta, Colombia.</p>
            </div>
            <div class="title-table-content">
                <p><strong>Teléfono:</strong></p>
            </div>
            <div class="text-table-content">
                <p> 57 (4) 444 28 49 ext. 210</p>
            </div>
            <div class="title-table-content">
                <p><strong>Correo electrónico:</strong></p>
            </div>
            <div class="text-table-content">
                <p><a href="mailto:servicioalcliente@moviesshop.co">servicioalcliente@moviesshop.co</a></p>
            </div>
            <div class="title-table-content">
                <p><strong>Pagina web:</strong></p>
            </div>
            <div class="text-table-content">
                <p><a href="https://www.moviesshop.co">https://www.moviesshop.co</a></p>
            </div>            
        </div>
    </div> 
    <div class="block-content">
        <div class="tertiary-title">
            <p><strong>3.	OBJETO DE LA POLÍTICA DE TRATAMIENTO DE DATOS PERSONALES</strong></p>
        </div>
        <p class="regular-content">
            La Política de Tratamiento de datos personales tiene por objeto desarrollar y dar a conocer al público en general los lineamientos corporativos y de Ley bajo los cuales <strong>MOVIES</strong> realiza el tratamiento de los datos personales, la finalidad del tratamiento, los derechos que le asisten a los titules, así como los procedimientos internos y externos que existen para el ejercicio de tales derechos ante <strong>MOVIES</strong>, entre otros.
        </p>        
    </div>
    <div class="block-content">
        <div class="tertiary-title">
            <p><strong>4.	DEFINICIONES LEGALES</strong></p>
        </div>
        <p class="regular-content">            
            Para efectos de la ejecución de la presente política y de conformidad con la normatividad legal, serán aplicables las siguientes definiciones: 
        </p>
        <ol type="a" class="letter-list">
            <li>
                <strong>Autorización:</strong> Consentimiento previo, expreso e informado del Titular para llevar a cabo el Tratamiento de datos personales;
            </li>
            <li>
                <strong>Base de Datos:</strong> Conjunto organizado de datos personales que sea objeto de Tratamiento;
            </li>
            <li>
                <strong>Titular:</strong> Persona natural cuyos datos personales sean objeto de Tratamiento, sea cliente, proveedor, empleado, o cualquier tercero que, debido a una relación comercial o jurídica, suministre datos personales a <strong>MOVIES</strong>.
            </li>
            <li>
                <strong>Tratamiento:</strong> Cualquier operación o conjunto de operaciones sobre datos personales, tales como la recolección, almacenamiento, uso, circulación o supresión.
            </li>
            <li>
                <strong>Dato personal:</strong> Cualquier información vinculada o que pueda asociarse a una o varias personas naturales determinadas o determinables;
            </li>
            <li>
                <strong>Dato público:</strong> Es el dato que no sea semiprivado, privado o sensible. Son considerados datos públicos, entre otros, los datos relativos al estado civil de las personas, a su profesión u oficio y a su calidad de comerciante o de servidor público. Por su naturaleza, los datos públicos pueden estar contenidos, entre otros, en registros públicos, documentos públicos, gacetas y boletines oficiales y sentencias judiciales debidamente ejecutoriadas que no estén sometidas a reserva.
            </li>
            <li>
                <strong>Datos sensibles:</strong> Se entiende por datos sensibles aquellos que afectan la intimidad del Titular o cuyo uso indebido puede generar su discriminación, tales como aquellos que revelen el origen racial o étnico, la orientación política, las convicciones religiosas o filosóficas, la pertenencia a sindicatos, organizaciones sociales, de derechos humanos o que promueva intereses de cualquier partido político o que garanticen los derechos y garantías de partidos políticos de oposición, así como los datos relativos a la salud, a la vida sexual, y los datos biométricos.
            </li>
            <li>
                <strong>Transferencia:</strong> La transferencia de datos tiene lugar cuando el Responsable y/o Encargado del Tratamiento de datos personales, ubicado en Colombia, envía la información o los datos personales a un receptor, que a su vez es Responsable del Tratamiento y se encuentra dentro o fuera del país.
            </li>
            <li>
                <strong>Transmisión:</strong> Tratamiento de datos personales que implica la comunicación de los mismos dentro o fuera del territorio de la República de Colombia cuando tenga por objeto la realización de un Tratamiento por el Encargado por cuenta del Responsable.
            </li>
        </ol>
        <p class="regular-content">            
            Cuando un término usado está definido en la presente Política de tratamiento de información, se estará a esa definición. Asimismo, cuando un término usado no esté definido expresamente en este documento ni en la Ley aplicable, se estará al significado literal de las estipulaciones, siempre que tal interpretación resulte consistente con el objeto de la Política de tratamiento de información.
        </p>
    </div>
    <div class="block-content">
        <div class="tertiary-title">
            <p><strong>5.	PRINCIPIOS QUE GOBIERNAN EL ACTUAR DE MOVIES EN EL TRATAMIENTO DE DATOS PERSONALES</strong></p>
        </div>
        <p class="regular-content">            
            Los principios que rigen el Tratamiento de los Datos Personales por parte de <strong>MOVIES</strong>, son los siguientes:
        </p>
        <ul class="regular-list">
            <li>
                <strong>Principio de legalidad:</strong> el Tratamiento de los datos personales es una actividad reglada que debe sujetarse a lo establecido en la Ley 1581 de 2012 en el Decreto 1377 de 2013 y en las demás disposiciones que las desarrollen.
            </li>
            <li>
                <strong>Principio de finalidad:</strong> la finalidad del Tratamiento debe ser legítima, e informada al titular.
            </li>
            <li>
                <strong>Principio de límite razonable:</strong> se limitará el almacenamiento y procesamiento de datos personales a lo que es esencialmente necesario para cumplir los propósitos previamente especificados de la relación de negocios, así como el cumplimiento de los fines autorizados por el Titular.
            </li>
            <li>
                <strong>Principio de libertad:</strong> los datos personales sólo pueden ser tratados con el consentimiento previo, expreso e informado del Titular o por mandato legal o judicial. 
            </li>
            <li>
                <strong>Principio de veracidad:</strong> la información debe ser veraz, completa, exacta, actualizada, comprobable y comprensible.
            </li>
            <li>
                <strong>Principio de transparencia:</strong> se debe garantizar el derecho del Titular a obtener información sobre sus datos personales cuyo Tratamiento sea realizado por <strong>MOVIES</strong>.
            </li>
            <li>
                <strong>Principio de Acceso y circulación restringida:</strong> el Tratamiento solo podrá hacerse por personas autorizadas por el Titular o por las personas previstas en la Ley.
            </li>
            <li>
                <strong>Principio de Seguridad:</strong> la información debe manejarse con las medidas necesarias para otorgar seguridad a los registros y evitar su adulteración, pérdida, consulta, uso o acceso no autorizado o fraudulento.
            </li>
            <li>
                <strong>Principio de Confidencialidad:</strong> los datos personales que no tengan la naturaleza de públicos son reservados y sólo se pueden suministrar en los términos de la Ley.
            </li>
            <li>
                <strong>Principio de Incorporación sistemática:</strong> los principios de Protección de Datos Personal se implementarán en todos los procesos y procedimientos de la actividad comercial de <strong>MOVIES</strong>.
            </li>
        </ul>
    </div>
    <div class="block-content">
        <div class="tertiary-title">
            <p><strong>6.	DERECHOS QUE LE ASISTEN A LOS TITULARES DE LOS DATOS PERSONALES</strong></p>
        </div>
        <ol type="a" class="letter-list">
            <li>
                Conocer, actualizar y rectificar sus datos personales frente a los Responsables del Tratamiento o Encargados del Tratamiento. Este derecho se podrá ejercer, entre otros frente a datos parciales, inexactos, incompletos, fraccionados, que induzcan a error, o aquellos cuyo Tratamiento esté expresamente prohibido o no haya sido autorizado;
            </li>
            <li>
                Solicitar prueba de la autorización otorgada al Responsable del Tratamiento salvo cuando expresamente se exceptúe como requisito para el Tratamiento, de conformidad con lo previsto en el artículo 10 de la presente ley;
            </li>
            <li>
                Ser informado por el Responsable del Tratamiento o el Encargado del Tratamiento, previa solicitud, respecto del uso que le ha dado a sus datos personales;
            </li>
            <li>
                Presentar ante la Superintendencia de Industria y Comercio quejas por infracciones a lo dispuesto en la presente ley y las demás normas que la modifiquen, adicionen o complementen;
            </li>
            <li>
                Revocar la autorización y/o solicitar la supresión del dato cuando en el Tratamiento no se respeten los principios, derechos y garantías constitucionales y legales. La revocatoria y/o supresión procederá cuando la Superintendencia de Industria y Comercio haya determinado que en el Tratamiento el Responsable o Encargado han incurrido en conductas contrarias a esta ley y a la Constitución;
            </li>
            <li>
                Acceder en forma gratuita a sus datos personales que hayan sido objeto de Tratamiento.
            </li>
        </ol>
    </div>
    <div class="block-content">
        <div class="tertiary-title">
            <p><strong>7.	AUTORIZACIÓN PARA EL TRATAMIENTO DE LOS DATOS PERSONALES</strong></p>
        </div>
        <p class="regular-content">            
                <strong>MOVIES</strong> actuando como <a style="text-decoration-line: underline;">Responsable</a> del Tratamiento ha adoptado procedimientos para solicitarle, a más tardar en el momento de la recolección de sus datos personales, su autorización para el Tratamiento de los mismos e informarle cuáles son los datos personales que serán recolectados así como todas las finalidades específicas del Tratamiento para las cuales se obtiene su consentimiento.
        </p>
        <p class="regular-content">            
            Se entenderá que el Titular ha otorgado a <strong>MOVIES</strong> Autorización para el Tratamiento de sus datos personales cuando ésta se manifieste: (i) por escrito; (ii) de forma oral; o (iii) mediante conductas inequívocas del Titular que permitan concluir de forma razonable que éste otorgó a <strong>MOVIES</strong> la autorización respectiva. En ningún caso el silencio será entendido como una conducta inequívoca.
        </p>
        <p class="regular-content">            
            No obstante lo anterior, la autorización del Titular no será necesaria cuando se trate de: (i) Información requerida por una entidad pública o administrativa en ejercicio de sus funciones legales o por orden judicial; (ii) Datos de naturaleza pública; (iii) Casos de urgencia médica o sanitaria; (iv) Tratamiento de información autorizado por la ley para fines históricos, estadísticos o científicos; y (v) Datos relacionados con el Registro Civil de las Personas
        </p>
    </div>
    <div class="block-content">
        <div class="tertiary-title">
            <p><strong>8.	REVOCATORIA DE LA AUTORIZACIÓN Y/O SUPRESIÓN DEL DATO</strong></p>
        </div>
        <p class="regular-content">
            El Titular de los datos personales puede en todo momento solicitar a <strong>MOVIES</strong> como <a style="text-decoration-line: underline;">Responsable</a> del Tratamiento, la supresión de sus datos personales y/o revocar la autorización que ha otorgado para el Tratamiento de los mismos, mediante la presentación de un reclamo, de acuerdo con lo establecido en el artículo 15 de la Ley 1581 de 2012. 
        </p>
        <p class="regular-content">
            No obstante, lo anterior, advertimos que la solicitud de supresión de la información y/o la revocatoria de la autorización no procederá cuando como Titular de los datos personales tenga un deber legal o contractual en virtud del cual deba permanecer en la base de datos de <strong>MOVIES</strong>. 
        </p>
    </div>
    <div class="block-content">
        <div class="tertiary-title">
            <p><strong>9.	FINALIDAD DEL TRATAMIENTO DE LOS DATOS PERSONALES</strong></p>
        </div>
        <p class="regular-content">
            <strong>MOVIES</strong> realizará el tratamiento de los datos personales con las siguientes finalidades: 
        </p>
        <ol type="a" class="letter-list">            
            <li>
                Realizar, a través de cualquier medio en forma directa o a través de terceros, actividades de mercadeo, promoción y/o publicidad propia o de terceros,  facturación, gestión de cobranza, recaudo, programación, soporte técnico, inteligencia de mercados, mejoramiento del servicio, verificaciones y consultas, control, comportamiento, hábito y habilitación de medios de pago, prevención de fraude, así como cualquier otra relacionada con nuestros productos y servicios, actuales y futuros, para el cumplimiento de las obligaciones contractuales y de nuestro objeto social.
            </li>
            <li>
                Generar una comunicación óptima en relación con nuestros servicios, productos, promociones, facturación y demás actividades.
            </li>
            <li>
                Evaluar la calidad de nuestros productos y servicios y realizar estudios sobre hábitos de consumo, preferencia, interés de compra, prueba de producto, concepto, evaluación del servicio, satisfacción y otras relacionadas con nuestros servicios y productos.
            </li>
            <li>
                Realizar las gestiones necesarias para dar cumplimiento a las obligaciones inherentes a los servicios prestados por <strong>MOVIES</strong>, estando autorizado incluso, para suministrar la información personal a terceros que considere que deben conocerla para tales fines.
            </li>
            <li>
                Recargar y transformar la información a diferentes formatos e incluirla en plataformas que permitan su consulta para las finalidades propuestas.
            </li>
            <li>
                Cumplir con las obligaciones contraídas con nuestros afiliados, aliados, usuarios, proveedores, sus filiales, distribuidores, subcontratistas y demás personas relacionadas directa o indirectamente con el objeto social de <strong>MOVIES.</strong>
            </li>
            <li>
                Controlar y prevenir el fraude en todas sus modalidades.
            </li>
        </ol>
    </div>
    <div class="block-content">
        <div class="tertiary-title">
            <p><strong>10.	PROCEDIMIENTO PARA LA ATENCIÓN DE SOLICITUDES Y CONSULTAS RELACIONADOS CON LA INFORMACIÓN PERSONAL</strong></p>
        </div>
        <p class="regular-content">            
            El Titular de los datos personales o quien esté autorizado debidamente podrá:
        </p>
        <ol type="1">
            <li>Formular solicitudes y consultas para conocer la información personal del Titular que repose en <strong>MOVIES.</strong></li>
            <li>Solicitar la actualización, modificación, rectificación o supresión de los datos del Titular, cuando haya lugar a ello de conformidad con la presente Política y con la Ley aplicable.</li>
            <li>Solicitar copia de la autorización otorgada por el Titular a <strong>MOVIES</strong> para realizar el Tratamiento de sus Datos Personales</li>
        </ol>
        <p class="regular-content">            
            Estas consultas se podrán realizar de forma gratuita al menos una vez cada mes calendario y cada vez que existan modificaciones sustanciales de las Políticas de Tratamiento de la información que motiven nuevas consultas.
        </p>
        <p class="regular-content">            
            El Titular o quien esté autorizado para ello, podrá formular consultas a <strong>MOVIES</strong> sobre la información personal del Titular a través de los siguientes mecanismos:
        </p>
        <ul class="regular-list">
            <li>De manera verbal comunicándose a la Línea de atención al cliente:  57 (4) 444 28 49 ext. 210</li>
            <li>Correo electrónico a la dirección: <a href="mailto:servicioalcliente@moviesshop.co">servicioalcliente@moviesshop.co</a></li>
        </ul>
        <p class="regular-content">            
            La consulta será atendida en un término máximo de diez (10) días hábiles contados a partir de la fecha de recibo de esta.
        </p>
        <p class="regular-content">            
            Cuando no fuere posible atender la consulta dentro del término antes indicado, <strong>MOVIES</strong> lo informará al interesado, expresando los motivos y señalando la fecha en que se atenderá su consulta, a más tardar dentro de los cinco (5) días hábiles siguientes al vencimiento del primer término.
        </p>
    </div>
    <div class="block-content">
        <div class="tertiary-title">
            <p><strong>11.	PROCEDIMIENTO PARA LA ATENCIÓN DE RECLAMOS Y REVOCATORIA DE LA AUTORIZACIÓN DEL TRATAMIENTO DE DATOS PERSONALES</strong></p>
        </div>
        <p class="regular-content">            
            Mediante este procedimiento el Titular o quien esté autorizado debidamente podrá:
        </p>
        <ol type="1" class="number-list">
            <li>
                Revocar la Autorización para el Tratamiento de Datos.
            </li>
            <li>
                Presentar reclamos cuando considere que existe un presunto incumplimiento de los deberes de <strong>MOVIES</strong> relacionado con el Tratamiento de Datos Personales, de acuerdo con lo previsto en estas Políticas o en la Ley de Protección de Datos Personales.
            </li>
        </ol>
        <div class="subtitle-content">
            <p>
                <strong>Revocatoria de la Autorización del Titular para el Tratamiento de Datos personales.</strong>
            </p>
        </div>
        <p class="regular-content">            
            El Titular podrá revocar la autorización y solicitar la supresión de sus datos en los siguientes eventos:
        </p>
        <ul class="regular-list">
            <li>
                Por decisión unilateral, libre y voluntaria del Titular de los Datos Personales, cuando no exista una obligación legal o contractual que imponga al Titular el deber de permanecer en la base de datos; y
            </li>
            <li>
                Cuando no se respeten los principios, derechos y garantías constitucionales y legales, siempre y cuando la Superintendencia de Industria y Comercio haya determinado que en el Tratamiento el Responsable o Encargado han incurrido en conductas contrarias al ordenamiento.
            </li>
        </ul>
        <p class="regular-content">            
            Lo anterior, sin perjuicio de las normas que <strong>MOVIES</strong> debe observar en materia de retención documental para el cumplimiento de obligaciones formales. En consecuencia, <strong>MOVIES</strong> suprimirá los datos o suspenderá su uso cuando a ello haya lugar, respetando las normas sobre conservación documental que le son aplicables.
        </p>
        <p class="subtitle-content">
            <strong>El procedimiento para la atención de los reclamos sobre los datos personales del Titular es el siguiente:</strong>
        </p>
        <p class="regular-content">            
            El Titular o quien esté autorizado debidamente para ello, podrán formular reclamos a <strong>MOVIES</strong> en relación con el Tratamiento de sus Datos personales, en los siguientes eventos:
        </p>
        <ul class="regular-list">
            <li>
                Cuando considere que la información del Titular contenida en una base de datos debe ser objeto de corrección, actualización o supresión; o
            </li>
            <li>
                 advierta el presunto incumplimiento de cualquiera de los deberes contenidos en la Ley de Protección de Datos.
            </li>
        </ul>
        <p class="regular-content">            
            La formulación de reclamos deberá realizarse a través de cualquiera de los siguientes canales de atención:
        </p>
        <ul class="regular-list">
            <li>De manera verbal comunicándose a la Línea de atención al cliente:  57 (4) 444 28 49 ext. 210.</li>
            <li>Por medio escrito, dirigido a la siguiente dirección: Calle 60 Sur No. 43 A 77, Sabaneta – Antioquia.</li>
            <li>Correo electrónico a la dirección: <a href="mailto: servicioalcliente@moviesshop.co">servicioalcliente@moviesshop.co</a> </li>
        </ul>
        <p class="regular-content">            
            El reclamo presentado por el Titular o por el autorizado para ello, deberá contener como mínimo lo siguiente: (i) Identificación del Titular de los Datos Personales; (ii) Descripción de los hechos que dan lugar al reclamo; (iii) Datos de contacto y ubicación del Titular de los Datos Personales (Dirección, teléfono, celular, correo electrónico, etc.); y (iv) Los documentos o pruebas que soportan su reclamación. En caso de no contar con la anterior información, se entenderá que el reclamo no se encuentra completo.
        </p>
        <p class="regular-content">            
            Si el reclamo está incompleto, <strong>MOVIES</strong> solicitará al interesado subsanar las fallas o remitir la información o documentación que se requiera dentro de los cinco (5) días hábiles siguientes a la recepción del reclamo por parte de MOVIES. Transcurridos dos (2) meses desde la fecha del requerimiento, sin que el solicitante presente la información requerida, se entenderá que ha desistido del reclamo y se procederá a su archivo.
        </p>
        <p class="regular-content">            
            <strong>MOVIES</strong> cuenta con un término de quince (15) días hábiles para atender el reclamo, contados a partir del día hábil siguiente a la fecha de recibo en <strong>MOVIES</strong>.
        </p>
        <p class="regular-content">            
            Cuando no fuere posible atender el reclamo dentro del término antes mencionado, <strong>MOVIES</strong> informará al interesado los motivos de la demora y la fecha en que se atenderá su reclamo, la cual no podrá superar los ocho (8) días hábiles siguientes al vencimiento del primer término.
        </p>
        <p class="subtitle-content">
            <strong>Área Responsable de la Atención de Solicitudes, Consultas y Reclamos</strong>
        </p>
        <p class="regular-content">            
            El área de Servicio al Cliente de <strong>MOVIES</strong> es la encargada de recibir las peticiones, consultas y reclamos del Titular de los Datos Personales relacionados con sus derechos a conocer, actualizar, rectificar y suprimir el Dato Personal y revocar la Autorización. Así mismo, el área de Servicio al Cliente velará por la oportuna y adecuada respuesta que emita cada una de las áreas de <strong>MOVIES</strong> a las solicitudes, consultas y reclamos de los Titulares de los Datos.
        </p>
    </div>
    <div class="block-content">
        <div class="tertiary-title">
            <p><strong>12.	VIGENCIA DE LA POLÍTICA DE TRATAMIENTO DE LA INFORMACIÓN PERSONAL</strong></p>
        </div>
        <p class="regular-content">            
            La presente política de tratamiento de la información personal rige a partir del 1º agosto del año 2019 y hasta el momento en que expresamente se revoque o modifique.
        </p>
    </div>
</div>