<div id="corporate-content" class="corporate-content-preguntas-frecuentes">
    <h1 class="main-title">Preguntas frecuentes</h1>
    <div class="block-content">
        <p class="secondary-title">¿Cómo hago un pedido en la tienda virtual?</p>
        <ol type="1">
            <li>
                “Ingresa a <a href="https://www.moviesshop.com.co/">https://www.moviesshop.com.co/</a>
            </li>            
            <li>
                Si deseas comprar un producto específico puedes navegar a través de las categorías o utilizar la barra de búsqueda
            </li>
            <li>
                Selecciona el producto y la talla adecuada
            </li>
            <li>
                Elige el color y la cantidad
            </li>
            <li>
                Da click en “Agregar al Carrito”
            </li>
            <li>
                Si tu pedido está completo, selecciona “Carrito de Compras”
            </li>
            <li>
                Si deseas seguir comprando, selecciona “Continuar Comprando”
            </li>
            <li>
                Si tienes un código de descuento ingrésalo en “Tengo un Cupón de DCT”
            </li>
            <li>
                Da click en “Finalizar Compra”
            </li>
            <li>
                Diligencia tus datos de envío y elige tu forma de pago. Puedes pagar con tarjeta débito, crédito o en efectivo a través de puntos Baloto o Efecty.
            </li>
            <li>
                Efectúa el pago y termina la compra”.
            </li>
        </ol>
    </div>
    <div class="block-content">
        <p class="secondary-title">¿Cuál es la fecha de entrega de mi pedido?</p>
        <p class="regular-content">
            Una vez sea confirmado tu pago, tu pedido será enviado a dirección que diligenciaste en nuestro formulario electrónico de compra dentro de un plazo máximo de siete (7) días hábiles, contados a partir de la fecha en que te enviemos la confirmación de la orden de compra que genera el sistema, siempre y cuando no se presenten causas ajenas nuestra voluntad que pudieran retrasar la entrega, como cualquier evento de caso fortuito o fuerza mayor. Si quieres saber más, puedes revisar nuestra <a href="/paginas-corporativas/terminos-y-condiciones#link-11"><strong>Política de Entrega de los Productos</strong></a>.
        </p>
    </div>
    <div class="block-content">
        <p class="secondary-title">¿Es seguro comprar en <a href="www.moviesshop.com.co">www.moviesshop.com.co</a> ?</p>
        <p class="regular-content">
            Claro que sí. Nuestras tiendas online están implementadas en una plataforma tecnológica de comercio electrónico llamada VTEX que nos permite recibir tu orden y enviar tu pedido de manera segura. Contamos, además, con aliados como Mercado Pago, que cuentan con la certificación PCI DSS para el manejo seguro de la información financiera de nuestros clientes.
        </p>
    </div>
    <div class="block-content">
        <p class="secondary-title">¿Qué Medios de Pagos Puedo Usar?</p>
        <p class="regular-content">
            Contamos con diferentes medios de pago:
        </p>
        <ul class="regular-list">
            <li>
                Tarjeta de Crédito (Visa, Máster Card, American Express, Diners Club, Codensa)
            </li>
            <li>
                Cuenta de ahorros o cuenta corriente (PSE)
            </li>
            <li>
                Efectivo a través de Baloto, Efecty o Davivienda. Si eliges esta opción, te daremos un número de referencia y de convenio con los que puedes realizar el pago en alguno de estos puntos durante las 48 horas siguientes. Si después de este tiempo no has realizado el pago, este número de referencia expirará y liberaremos los productos contenidos en tu pedido, por lo que deberás hacer el proceso de compra nuevamente y hacer el pago con el nuevo número.
            </li>
        </ul>
    </div>
    <div class="block-content">
        <p class="secondary-title">¿Dónde encuentro el número de guía de mi pedido?</p>
        <p class="regular-content">
            Cuando finalices tu compra, enviaremos un mensaje de confirmación a tu correo electrónico con el número de guía, con el cuál puedes rastrear tu paquete. Ingrésalo en la página <a target="_blank" href="https://envia.co/">envia.co</a>, y da click en la opción “Rastrea” para el estado de tu pedido
        </p>
        <p class="regular-content">
            Si no encuentras tu número de guía, escríbenos al correo <a href="mailto:servicioalcliente@moviesshop.co">servicioalcliente@moviesshop.co</a>, a nuestro chat online en <a href="https://www.moviesshop.co/">www.moviesshop.co/</a> o comunícate con nuestra asesoría telefónica al celular 350 316 72 00.
        </p>
    </div>
    <div class="block-content">
        <p class="secondary-title">Necesito cambiar la dirección donde quiero recibir mi pedido ¿Qué debo hacer?</p>
        <p class="regular-content">
            Solicita el cambio de dirección enviándonos un correo electrónico a <a href="mailto:servicioalcliente@moviesshop.co">servicioalcliente@moviesshop.co</a> y/o comunícate con nuestra línea de despachos 444 28 49 ext. 210.
        </p>
    </div>
    <div class="block-content">
        <p class="secondary-title">Mi pedido es lo que pedí, pero quiero cambiarlo.</p>
        <p class="regular-content">
            Puedes realizar el cambio en cualquiera de nuestras tiendas físicas llevando la factura de compra digital. Si el cambio es por talla, puedes hacerlo y no tendremos en cuenta la diferencia de precios u ofertas aplicadas, sin embargo, si quieres elegir una prenda diferente, debes asumir el excedente. Revisa nuestra <a href="/paginas-corporativas/cambios-y-devoluciones"><strong>Política de Devoluciones y Cambios</strong></a> para saber más.
        </p>
    </div>
    <div class="block-content">
        <p class="secondary-title">¿Los descuentos de la tienda virtual también aplican en las tiendas físicas?</p>
        <p class="regular-content">
            Nuestra tienda online es un canal diferente a nuestras tiendas físicas, por eso en algunas ocasiones puede tener precios diferentes y/o actividades promocionales que no aplican en las tiendas físicas.
        </p>
    </div>
    <div class="block-content">
        <p class="secondary-title">¿Cómo puedo pagar en efectivo?</p>
        <p class="regular-content">
            Puedes pagar en efectivo a través de Baloto, Efecty o Davivienda. Si eliges esta opción, te daremos un número de referencia y de convenio con los que puedes realizar el pago en alguno de estos puntos durante las 48 horas siguientes. Si después de este tiempo no has realizado el pago, este número de referencia expirará y liberaremos los productos contenidos en tu pedido, por lo que deberás hacer el proceso de compra nuevamente y hacer el pago con el nuevo número.
        </p>
    </div>
</div>