<div id="corporate-content" class="corporate-content-queremos-cuidarte">
    <h1 class="main-title">Queremos Cuidarte</h1>
    <div class="block-content">
        <p class="regular-content">
            Nuestras tiendas están alineadas con los protocolos de bioseguridad exigidos por la normatividad legal vigente que imparten las entidades de control gubernamentales a nivel nacional y local para los centros comerciales y establecimientos comerciales donde estemos ubicados.
        </p>
    </div>
    <div class="block-content">
        <p class="secondary-title"> Por tu seguridad y la de todos en el punto de venta </p>
        <ul class="regular-list">
            <li>
                Revisamos el estado de salud de nuestros colaboradores antes de reactivarnos y monitoreamos su estado de salud a través de una encuesta diaria y del acompañamiento del Área de Gestión Humana/Seguridad y Salud en el Trabajo.
            </li>
            <li>
                Hicimos aseo y limpieza de todas nuestras tiendas.
            </li>
            <li>
                Personal experto, fumigó y desinfectó el punto de venta.
            </li>
            <li>
                Nuestros asesores y administradores usan elementos de protección personal.
            </li>
            <li>
                Nos acogimos a las normas del Centro Comercial, cumplimos con protocolos de bioseguridad. 
            </li>
            <li>
                Contamos con señalización para protegerte y que estés informado.
            </li>
        </ul>
    </div>
    <div class="block-content">
        <p class="secondary-title"> Normas de convivencia y autocuidado </p>
        <ul class="regular-list">
            <li>
                 Lava tus manos con agua y jabón, al menos cada dos horas.
            </li>
            <li>
                Usa el tapabocas cuando salgas de casa.
            </li>
            <li>
                 Con el distanciamiento social cuidas de ti y de los otros. Mantén siempre distancia mínima de 2 metros.
            </li>
            <li>
                Si vas a toser o a estornudar, cubre tu nariz y boca con un pañuelo o con la parte interior de tu brazo.
            </li>
            <li>
                Evita tocar tus ojos, nariz y boca. 
            </li>
            <li>
                Examínate antes de salir de su casa y asegúrate que no presentes estos síntomas.
            </li>
        </ul>
    </div>
    <div class="block-content">
        <p class="secondary-title">Información sobre el Covid 19 </p>
        <p class="regular-content">
            La enfermedad del coronavirus 2019 (COVID-19) es una enfermedad respiratoria causada por el virus SARS-CoV-2, que produce en el humano signos de dificultad respiratoria que pueden ser desde leves hasta graves, afectando además de los pulmones otros órganos como el riñón, el corazón y el hígado, a tal punto que pueden producir una falla sistémica, produciendo la muerte.
        </p>
        <p class="regular-content">
            Este virus puede llegar a ser controlado realizando medidas de bioseguridad individuales y colectivas, las cuales han sido analizadas en una base de modelos estadísticos biológicos, que a nivel documental tienen el respaldo de entidades de carácter científico y técnico que están comprometidas con la salud pública y son las que determinaran las recomendaciones médicas y las indicaciones de intervención Nacional para definir cuáles son los controles, medidas y normas que se deben cumplir para disminuir el riesgo de contaminación por este virus.
        </p>
    </div>
    
    <div class="block-content">
        <p class="secondary-title">¿Qué es el Virus? </p>
        <p class="regular-content">
            El coronavirus es una gran familia de virus que también incluye SARS (Síndrome Agudo Respiratorio Severo), MERS (síndrome respiratorio de Oriente Medio) y otras enfermedades respiratorias que pueden ir desde una infección respiratoria leve hasta la muerte.
        </p>
    </div>
    <div class="block-content">
        <p class="secondary-title">¿Porque se denomina Coronavirus?  </p>
        <p class="regular-content">
            El término “corona”, se refiere a la forma del virus bajo un microscopio, que evidencia una forma de corona en la estructura externa que compone al virus y por raíz latina que significa “corona o anillo de luz”, se define colocar ese nombre.
        </p>
    </div>
    <div class="block-content">
        <p class="secondary-title">¿Porque se llama COVID -19? </p>
        <p class="regular-content">
            El virus fue denominado por la OMS (Organización Mundial de la Salud) como SARS-CoV-2 o COVID – 19 (Coronavirus Disease – 19); es la cepa específica de coronavirus responsable de la epidemia actual. El acrónimo, proporcionado por la OMS, significa “enfermedad por coronavirus 2019”, que se refiere al año en que se detectó el virus por primera vez.
        </p>
    </div>
    <div class="block-content">
        <p class="secondary-title">¿Cómo se transmite? </p>
        <p class="regular-content">
            La infección se produce cuando una persona enferma tose o estornuda y expulsa partículas del virus que entran en contacto con otras personas. Este mecanismo es similar entre todas las Infecciones Respiratorias Agudas. Y su transmisión se puede dar por dos ocasiones:
        </p>
        <ul class="regular-list">
            <li>
                Mantener contacto con una persona con COVID-19 confirmada o probable, que se encuentre en un área por más de 15 minutos y no se mantenga una distancia de 2 metros o menos.
            </li>
            <li>
               Tener contacto directo con secreciones infecciosas incluidas esputo, suero, sangre y gotitas respiratorias de un paciente con COVID-19 confirmado.
            </li>
        </ul>
    </div>
    <div class="block-content">
        <p class="secondary-title">¿A quiénes afecta?  </p>
        <p class="regular-content">
            Se conoce que cualquier persona puede infectarse, independientemente de su edad, pero hasta el momento se han registrado relativamente pocos casos de COVID-19 en niños. La enfermedad es mortal en raras ocasiones, y se presenta en mayor proporción cuando los pacientes ya tienen algunas enfermedades o condiciones médicas que pueden complicar la infección por COVID-19.
        </p>
    </div>
    <div class="block-content">
        <p class="secondary-title">¿Cuáles son los síntomas? </p>
        <p class="regular-content">
            El nuevo Coronavirus causa una Infección Respiratoria Aguda (IRA), es decir una gripa, que puede ser leve, moderada o severa. Puede producir fiebre mayor de 38°C persistente por 3 días consecutivos, tos, seca, dolor para tragar, fatiga / Cansancio no asociado a ejercicio físico / Debilidad Musculares y dificultad para respirar.
        </p>
    </div>
    <div class="block-content">
        <p class="secondary-title">¿Cuáles son las enfermedades o condiciones médicas, que pueden tener mayor riesgo de complicación por covid-19? </p>
        <ul class="regular-list">
            <li>
                Mayores de 60 años.
            </li>
            <li>
                 Obesidad (La CDC Indica riesgo de complicación en IMC igual o mayor a 40).
            </li>
            <li>
                HTA (Hipertensión Arterial)
            </li>
            <li>
                 Diabetes.
            </li>
            <li>
                Enfermedades autoinmunes.
            </li>
            <li>
                 Inmunosupresión por cualquier causa.
            </li>
            <li>
                Falla Cardiaca.
            </li>
            <li>
                Enfermedad pulmonar crónica. EPOC
            </li>
        </ul>
    </div>
    <div class="block-content">
        <p class="secondary-title">¿Cómo prevenirlo? </p>
        <p class="regular-content">
            La medida más efectiva para prevenir el COVID-19 es lavarse las manos correctamente, con agua y jabón, esto hacerlo frecuentemente cada 2 horas, usar tapabocas, conservar el aislamiento social y distanciamiento entre personas.
        </p>
    </div>
    <div class="block-content">
        <p class="secondary-title">Medidas para usuarios de vehículo particular, motocicletas y bicicletas: </p>
        <ul class="regular-list">
            <li>
              	Desinfecta con regularidad superficies con las que tienes contacto frecuente como son las manijas de las puertas, volante, palanca de cambios, hebillas del cinturón de seguridad, radio, comando del vehículo, etc. En la medida de lo posible procura tener ventilado el vehículo y evita utilizar la calefacción y aire acondicionado, preferiblemente que este ventilado el vehículo.
            </li>
            <li>
               	Al subirte al vehículo abre las puertas y permite que se ventile durante un par de minutos antes de subirte a él. En la medida de lo posible procura la distancia mínima recomendada (por ejemplo, el pasajero puede ir en la parte de atrás). Para motocicletas y bicicletas desinfecta con regularidad el manubrio de estas, los elementos de seguridad, como cascos, guantes, gafas, rodilleras, entre otros.
            </li>
        </ul>
    </div>
    <div class="block-content">
        <p class="secondary-title">Medidas para usuarios de transporte público:</p>
        <p class="regular-content">
            Te sugerimos mantener la distancia mínima recomendada; durante el desplazamiento en transporte público utiliza permanentemente el tapabocas. Evita tener algún tipo de contacto con los demás pasajeros. Si tienes contacto con algunas superficies, realiza la limpieza de manos con gel antibacterial o alcohol, se recomienda que siempre cargue en su bolso estos elementos.
        </p>
    </div>
    <div class="block-content">
        <p class="secondary-title">Cuando salga de casa: </p>
        <ul class="regular-list">
            <li>
                Llevar puesto el tapabocas en todo momento. Siempre cubriendo nariz y boca.
            </li>
            <li>
                Si va a realizar compras o a hacer diligencias, y va a ingresar a supermercados, o sitos donde haya más personas, mantenga puesto el tapabocas y la distancia de 2 metros.
            </li>
            <li>
                 Durante el tiempo que esté por fuera, desinféctese las manos con alcohol o con antibacterial.
            </li>
        </ul>
    </div>
    <div class="block-content">
        <p class="secondary-title">Al regreso:</p>
        <ul class="regular-list">
            <li>
                Te recomendamos que al ingreso de tu casa delimite una zona marcada como zona sucia o desinfección, ten un recipiente para ubicar tus pertenencias cada vez que llegues de la calle, retírate la ropa, deposítala en una bolsa o canasta para ser lavada inmediatamente, retírate los zapatos y desinfecta las suelas, evita pasear por la casa con tus zapatos puestos, dirígete de inmediato a la ducha sin tener ningún acercamiento con tu familia.
            </li>
            <li>
                Es importante que aísles tu ropa en un recipiente con agua y jabón. Se sugiere dejar varios horas o días y que la persona que realice este lavado sea la misma persona que los uso.
            </li>
            <li>
                Antes de tener contacto con tu familia o algún objeto de la casa; es importante que realices una debida higiene personal.
            </li>
        </ul>
    </div>
   