<div id="corporate-content" class="corporate-content-retracto">
    <h1 class="main-title">Derecho de Retracto</h1>
    <div class="block-content">
        <p class="regular-content">
            “La ley 1480 de 2011 ha determinado que sobre las ventas que utilizan métodos no tradicionales o a distancia aplica el Derecho de Retracto, por lo cual, a través del teléfono +57 (4) 444 28 49 ext. 210, al celular 350 316 73 11 o al correo electrónico <a href="mailto:servicioalcliente@moviesshop.co">servicioalcliente@moviesshop.co</a>, ., es procedente, solicitar el derecho de retracto si la solicitud es notificada dentro de los cinco (5) días hábiles siguientes a la fecha de la entrega del bien.
        </p>
        <p class="regular-content">
            El Cliente que solicita la aplicación del Derecho de Retracto deberá devolver el producto en las mismas condiciones en que lo recibió, es decir, el producto no debe presentar indicios de uso o problemas de idoneidad no reportados al momento de la entrega. De igual forma, el bien debe ser entregado con todos sus accesorios y empaques originales. Para el efecto, un representante de MOVIES verificará el estado general del artículo. En caso de ser necesario se solicitarán fotografías del estado de los empaques y el producto.
        </p>
        <p class="regular-content">
            Si el producto presenta alguna novedad de calidad no reportada al momento de la entrega, se enviará el bien a un Centro de Servicios Autorizado para que se efectué un diagnostico técnico en cuyo evento se responderá de acuerdo con los plazos estipulados por la Ley 1480 de 2011 (Artículos 7 al 12), para el trámite de garantía y se informara sobre la procedencia o no del Derecho de Retracto.
        </p>
        <p class="regular-content">
            <strong>De acuerdo con la Ley 1480 de 2011, no es procedente el Derecho de Retracto en los siguientes eventos:</strong>
        </p>
        <ul>
            <li>Contratos de prestación de servicios cuya prestación haya comenzado con el acuerdo del consumidor.</li>
            <li>En los contratos de suministro de bienes o servicios cuyo precio este sujeto a fluctuaciones de coeficientes del mercado financiero que el productor no pueda controlar.</li>
            <li>En los contratos de suministro de bienes confeccionados conforme a las especificaciones del consumidor o claramente personalizados.</li>
            <li>En los contratos de suministro bienes que, por su naturaleza, no pueden ser devueltos o puedan deteriorarse o caducar con rapidez.</li>
            <li>En los contratos de suministro bienes que, por su naturaleza, no pueden ser devueltos o puedan deteriorarse o caducar con rapidez.</li>
            <li>En los contratos de adquisición de bienes perecederos.</li>
            <li>En los contratos de adquisición de bienes de uso personal.</li>
        </ul>
        <p class="regular-content">
            La devolución del dinero en ejercicio del Derecho de Retracto se realizará a más tardar a los treinta (30) días calendario contados desde el momento en que se ejerció el derecho.”
        </p>
    </div>

</div>