<div id="corporate-content" class="corporate-content-sobre-nosotros">
    <h1 class="main-title">Sobre nosotros</h1>
    <div class="block-content">
        <p class="secondary-title">HISTORIA</p>
        <p class="regular-content">
            Maquila Internacional de Confección es una empresa fundada en Medellín en 1993, dedicada al diseño, producción y comercialización de vestuario infantil y adulto con las marcas MIC, LittleMic y MOVIES. Creamos fantasía y contamos historias a través de prendas con diseños propios y a partir de los derechos de las licencias de entretenimiento más importantes del mundo como Disney, Marvel y Warner Bros.
        </p>
        <p class="regular-content">
            Somos una compañía multicanal que atiende clientes de grandes, medianas y pequeñas superficies, almacenes propios, franquicias y tienda virtual.
        </p>
    </div>
    <div class="block-content">
        <p class="secondary-title">MISIÓN</p>
        <p class="regular-content">
            Trabajar con fantasía y creatividad para garantizar la estabilidad y el crecimiento de MIC a través del tiempo.
        </p>
    </div>
    <div class="block-content">
        <p class="secondary-title">VISIÓN</p>
        <p class="regular-content">
            Ser <strong>LIDERES</strong> en generación de <strong>FANTASÍA</strong>.
        </p>
    </div>
</div>