<div id="corporate-content" class="corporate-content-terminos-y-condiciones">
    <h1 class="main-title">Términos y condiciones</h1>
    <div class="block-content">
        <p class="regular-content">
            Los siguientes términos y condiciones aplican para todas las personas que visiten el sitio web <a href="www.moviesshop.co">www.moviesshop.co</a> que tiene como función principal proveer información sobre sus productos y promover la compra online por parte de sus usuarios. Adicionalmente, brindar información sobre trámites de compras, servicios y promociones en general ofrecidos al público.
        </p>
    </div>
    <div class="block-content">
        <p class="secondary-title">1. DEFINICIONES</p>
        <ul class="regular-list">
            <li>
                <strong>El Sitio:</strong> Página web de comercio electrónico a través del cual se exhiben productos de <strong>MOVIES</strong>, en este caso, <a href="www.moviesshop.co">www.moviesshop.co</a>.
            </li>
            <li>
                <strong>Usuario:</strong> Toda persona natural o jurídica que accede a El Sitio y, eventualmente, realiza una compra a través de este.
            </li>
            <li>
                <strong>MOVIES:</strong> Sociedad denominada W STUDIO DE COLOMBIA S.A.S., identificada con el NIT. 900.738.307-9, que, además, controla y opera El Sitio. 
            </li>
        </ul>
    </div>
    <div class="block-content">
        <p class="secondary-title">2. GENERALIDADES</p>
        <p class="regular-content">
            El presente acuerdo describe y contiene los términos y condiciones generales aplicables al acceso y uso de los servicios ofertados por W STUDIO DE COLOMBIA S.A.S., (MOVIES) por medio del sitio de comercio electrónico <a href="www.moviesshop.co">www.moviesshop.co</a>, (en adelante El Sitio).
        </p>
        <p class="regular-content">
            Cualquier persona, al acceder y hacer uso de El Sitio, acepta y, además, aprueba en su totalidad, estar obligado y vinculado bajo los términos y condiciones aquí dispuestos, así como las demás políticas y contenidos reglamentarios de El Sitio. Por lo anterior, toda persona que desee acceder y hacer uso de El Sitio, sólo lo podrá realizar bajo estricto cumplimiento de los Términos y Condiciones, así como de las demás políticas, reglas y principios que aplican a El Sitio, cuyo contenido y consulta, se encuentra disponible en El Sitio. 
        </p>
        <p class="regular-content">
            En cualquier caso, todo acceso y/o uso de El Sitio, constituye una aceptación y sometimiento a los presentes Términos y Condiciones, así como a las demás políticas, reglas y principios de El Sitio. Cualquier persona que no acepte cumplir y someterse a lo aquí dispuesto, deberá abstenerse de acceder y/o hacer uso de El Sitio y de cualquiera de sus contenidos o servicios. 
        </p>
        <p class="regular-content">
            Por lo anterior, toda persona que acceda y haga uso de El Sitio, reconoce que ha leído y entendido los presentes Términos y Condiciones, así como las demás políticas, reglas y principios contenidos en El Sitio y que en señal de aceptación del contenido y alcance de todo lo anterior, realiza de manera efectiva el acceso y uso de El Sitio. 
        </p>
    </div>
    <div class="block-content">
        <p class="secondary-title">3. DATOS DE IDENTIFICACIÓN</p>
        <p class="regular-content">
            La página web <a href="www.moviesshop.co">www.moviesshop.co</a> o El Sitio, es una plataforma virtual controlada y operada por la compañía que se describe a continuación:
        </p>
        <div class="twice-table-content">
            <div class="title-table-content">
                <p><strong>Razón Social</strong></p>
            </div>
            <div class="text-table-content">
                <p>W STUDIO DE COLOMBIA S.A.S.</p>
            </div>
            <div class="title-table-content">
                <p><strong>Nacionalidad</strong></p>
            </div>
            <div class="text-table-content">
                <p>Colombiana</p>
            </div>
            <div class="title-table-content">
                <p><strong>Identificación</strong></p>
            </div>
            <div class="text-table-content">
                <p>NIT. 900.738.307-9</p>
            </div>
            <div class="title-table-content">
                <p><strong>Domicilio</strong></p>
            </div>
            <div class="text-table-content">
                <p>Sabaneta, Colombia.</p>
            </div>
            <div class="title-table-content">
                <p><strong>Dirección Comercial</strong></p>
            </div>
            <div class="text-table-content">
                <p>Calle 60 sur # 43a 77.</p>
            </div>
            <div class="title-table-content">
                <p><strong>Dirección Notificación</strong></p>
            </div>
            <div class="text-table-content">
                <p>Carrera 43ª #. 60 Sur 11</p>
            </div>
            <div class="title-table-content">
                <p><strong>Correo electrónico</strong></p>
            </div>
            <div class="text-table-content">
                <p><a href="mailto:servicioalcliente@moviesshop.co">servicioalcliente@moviesshop.co</a></p>
            </div>
            <div class="title-table-content">
                <p><strong>Correo notificación</strong></p>
            </div>
            <div class="text-table-content">
                <p><a href="mailto:estrategiaconta@mic.com.co">estrategiaconta@mic.com.co</a></p>
            </div>
            <div class="title-table-content">
                <p><strong>Teléfono</strong></p>
            </div>
            <div class="text-table-content">
                <p>+57 (4) 444 28 49 ext. 210</p>
            </div>
        </div>
    </div>
    <div class="block-content">
        <p class="secondary-title">4. CAPACIDAD LEGAL DEL USUARIO</p>
        <p class="regular-content">
            Los Servicios ofrecidos a través de El Sitio se encuentran disponibles única y exclusivamente para personas que sean capaces desde el punto de vista legal para contratar de acuerdo con la legislación colombiana vigente.
        </p>
        <p class="regular-content">
            Por lo anterior, en ningún caso, las personas que carezcan de la capacidad antes descrita, en especial, quienes no cuenten con la mayoría de edad o aquellas personas que hayan sido inhabilitadas por MOVIES de El Sitio, podrán acceder y hacer uso de este.
        </p>
        <p class="regular-content">
            En cualquier caso, si el Usuario que hace accede o hace uso de El Sitio es una persona jurídica, la persona natural que actúa en nombre de ella, deberá contar con capacidad y facultades para contratar en nombre de la compañía y, además, de someter a ésta a los términos y condiciones de El Sitio.
        </p>
    </div>
    <div class="block-content">
        <p class="secondary-title">5. OBJETO</p>
        <p class="regular-content">
            El Sitio, administrado y controlado por MOVIES tiene como objeto principal proveer información sobre sus productos y promover la compra online por parte de sus usuarios. Adicionalmente, brindar información sobre trámites de compras, servicios y promociones en general ofrecidos al público.
        </p>
    </div>
    <div class="block-content">
        <p class="secondary-title">6. USOS NO PERMITIDOS DE EL SITIO</p>
        <p class="regular-content">
            Las siguientes actividades no se encuentran permitidas sobre El Sitio
        </p>
        <ul class="regular-list">
            <li>
                Añadir páginas de El sitio dentro de “frames” de Sitios externos.
            </li>
            <li>
                Utilizar cualquier dispositivo, programa, algoritmo o método para acceder, adquirir, copiar o monitorear cualquier parte o Contenido de El Sitio.
            </li>
            <li>
                Intentar obtener acceso privilegiado a cualquier parte de El Sitio, servidores o redes mediante cualquier método.
            </li>
            <li>
                Revisar o escanear el Sitio, servidores en busca vulnerabilidades de seguridad.
            </li>
            <li>
                Utilizar cualquier dispositivo o software para interferir con el adecuado funcionamiento de El Sitio y sus operaciones.
            </li>
            <li>
                Utilizar El Sitio para fines o efectos ilícitos, lesivos de los derechos e intereses de terceros o que vayan en contra de estos Términos y Condiciones de Uso o la ley.
            </li>
            <li>
                Cualquier otro uso diferente al descrito en los presentes Términos y Condiciones.
            </li>
        </ul>
    </div>
    <div class="block-content">
        <p class="secondary-title">7. OFERTA</p>
        <p class="regular-content">
            MOVIES a través de su sitio web <a href="www.moviesshop.co">www.moviesshop.co</a>, muestra la oferta de los diferentes productos que se enuncian y/o describen en El Sitio. Para efectos de que exista una oferta de compra válida por parte de MOVIES, se requiere del diligenciamiento por parte del Usuario de forma electrónica disponible en la página web, en la cual se hará constar los datos personales del Usuario, la selección de los productos deseados, la forma en que procederá a su pago, así como los demás datos que MOVIES considere necesarios para que se pueda realizar la compra.
        </p>
        <p class="regular-content">
            Para que una compra efectuada a MOVIES a través de El Sitio por medio de la selección de una de sus ofertas, se entienda perfecta, se deben cumplir las siguientes condiciones:
        </p>
        <ol type="a" class="letter-list">
            <li>
                Diligenciar por parte del Usuario la forma electrónica mencionada y que ésta sea recibida y aprobada por MOVIES.
            </li>
            <li>
                Que se haya hecho efectivo por parte del Usuario el pago por el 100% del valor de la mercancía seleccionada.
            </li>
            <li>
                Que el Usuario haya aceptado los Términos y condiciones, Políticas de Privacidad de este sitio y demás estipulaciones contractuales de El Sitio.
            </li>
        </ol>
        <p class="regular-content">
            Una vez cumplidas estas condiciones, MOVIES procederá de conformidad, generando en el sistema una orden de compra e informando al Usuario, mediante aviso en El sitio y mediante correo electrónico a la dirección indicada, que su orden de compra fue registrada en el sistema con un número específico, con el cual el Usuario podrá hacer seguimiento a su estado. MOVIES se reserva el derecho de modificar los precios de los productos en cualquier momento previo a la aceptación de la oferta por parte del cliente, sin necesidad de notificar dicho cambio de ninguna manera, lo anterior, sin perjuicio de la ley del consumidor. En las ofertas que se tenga la mecánica de código promocional sólo es permitido el uso de un código por pedido.
        </p>
    </div>
    <div class="block-content">
        <p class="secondary-title">8. PRODUCTOS Y/O SERVICIOS</p>
        <p class="regular-content">
            Es responsabilidad de MOVIES la actualización y revisión constante de los productos que se exhiben en El Sitio. MOVIES puede modificar y descontinuar productos en cualquier momento y se obliga a despachar productos de las mismas características de calidad que se exhiben en sus puntos de venta, sin embargo, los colores de los productos que el cliente ve en su monitor dependen de las características tecnológicas de dichos dispositivos, por lo tanto, MOVIES no garantiza que el color que muestre el monitor del Usuario sea exactamente igual al color real del producto.
        </p>
        <p class="regular-content">
            Dado lo anterior, se precisa que el Sitio exhibe las imágenes de productos con la mayor claridad, nitidez y precisión posible. No obstante, la visualización del color de los productos dependerá de los instrumentos electrónicos que utilice el Usuario Comprador al momento de acceder a El Sitio.
        </p>
    </div>
    <div class="block-content">
        <p class="secondary-title">9. ¿CÓMO COMPRAR A TRAVÉS DE EL SITIO?</p>
        <p class="regular-content">
            Para adquirir productos exhibidos en El Sitio, el Usuario interesado deberá: 
        </p>
        <ol type="1" class="number-list">
            <li>
                “Ingresa a <a href="www.moviesshop.co">www.moviesshop.co</a>
            </li>            
            <li>
                Selecciona el producto y la talla adecuada
            </li>
            <li>
                Elige la cantidad
            </li>
            <li>
                Da click en “AGREGAR AL CARRITO”
            </li>
            <li>
                Si tu pedido está completo, selecciona “VER CARRITO”
            </li>
            <li>
                Si deseas seguir comprando, selecciona “SEGUIR COMPRANDO”
            </li>
            <li>
                Si tienes un código de descuento ingrésalo en “CÓDIGO PROMOCIONAL”
            </li>
            <li>
                Da click en “FINALIZAR COMPRA”
            </li>
            <li>
                Diligencia tus datos de envío y elige tu forma de pago. Puedes pagar con tarjeta débito, crédito o en efectivo a través de puntos Baloto o Efecty
            </li>
            <li>
                Efectúa el pago y termina la compra”
            </li>
        </ol>
    </div>
    <div class="block-content">
        <p class="secondary-title">10.	CARGOS POR ENVÍO E IMPUESTOS</p>
        <p class="regular-content">
            MOVIES será responsable durante el transporte de la mercancía por los gastos de manejo y seguro de los productos que se adquieran en <a href="www.moviesshop.co">www.moviesshop.co</a>. El Usuario asumirá el valor del envío del producto a su lugar de destino. Así mismo, el Usuario será responsable de todos los impuestos sobre ventas, impuestos al valor agregado y cualesquiera otros impuestos y gravámenes que se ocasionen por cada oferta de compra aceptada, siempre y cuando le correspondan en virtud de la legislación aplicable. Todos los impuestos causados por la compra serán liquidados desde el momento en que el Usuario acepta la oferta de compra en es El Sitio, y por tanto podrá conocer el valor exacto a pagar antes de hacerlo.
        </p>
    </div>
    <div class="block-content">
        <p class="secondary-title" id="link-11">11. ENTREGA DE LOS PRODUCTOS</p>
        <p class="regular-content">
            MOVIES se compromete a realizar entregas exclusivamente dentro del territorio colombiano, en las zonas y lugares a los que tenga acceso de acuerdo con la red de distribución disponible. Por consiguiente, el perfeccionamiento del contrato de compraventa está condicionado a que el domicilio registrado por el Usuario para realizar la entrega se encuentre dentro de las zonas geográficas habilitadas, las cuales se indican dentro del sitio. De no encontrarse un municipio del territorio colombiano en la lista que despliega El Sitio para el efecto, deberá entenderse que no se tiene esa zona geográfica habilitada y que por tanto no se entenderá celebrado el contrato al no cumplirse la condición mencionada para su perfeccionamiento y en consecuencia no se procederá al envío de las mercancías.
        </p>
        <p class="regular-content">
            Los productos objeto de la compraventa serán entregados en el lugar que el Usuario haga constar en el formulario electrónico que le presenta el sitio, dentro de un plazo de siete (7) días hábiles, contados a partir de la fecha en que se envíe por parte de MOVIES la confirmación de la orden de compra que genera el sistema y, siempre y cuando se hayan determinado por anticipado los términos y condiciones de pago y no se presenten causas ajenas a la voluntad de MOVIES que pudieran retrasar la entrega, como cualquier evento de caso fortuito o fuerza mayor. En caso de que los envíos tengan como destino un lugar diferente a una ciudad principal, se informará el plazo, en cada caso, el término para la entrega de este.
        </p>
        <p class="italic-content">
            "Nos permitimos informar que los periodos de entrega son referencias suministradas por los transportadores que actualmente empleamos, por tal motivo las fechas de entrega podrán variar de 2 a 10 días hábiles en ciudades principales y de 2 a 10 días hábiles para el resto del país; estas mismas fechas podrían verse afectadas debido a las novedades de transporte que se presentan en el territorio nacional. Las condiciones ajenas a nosotros como: RESTRICCIONES DE MOVILIDAD a causa de la cuarentena nacional que afecten la entrega de tus pedidos no darán lugar a compensación de ninguna índole.
        </p>
        <p class="italic-content">
            De presentarse alguno de los eventos descritos anteriormente, MOVIES W STUDIO DE COLOMBIA S.A.S. se contactará para brindar una solución óptima, es necesario que se suministren de manera correcta y exacta todos los datos de contacto: teléfono, correo electrónico y dirección de envío. De haber errores en alguno de los datos de contacto suministrados, no será posible la entrega dentro del tiempo mencionado anteriormente".
        </p>
        <p class="regular-content">
            Se entiende que cualquier persona que se encuentre en el domicilio donde debe realizarse la entrega, está autorizada por el Usuario para recibir su pedido, y, por tanto, MOVIES queda exonerado de cualquier responsabilidad por la entrega que realizare, siempre que la misma se haga en el domicilio registrado en El Sitio. 
        </p>
        <p class="regular-content">
            Si nadie recibe el pedido en el domicilio señalado, la transportadora procederá a la devolución de los productos al respectivo Almacén, y el Usuario estará en la obligación de contactar a MOVIES en un término máximo de cinco (5) días calendario para que se proceda con su reenvío, en cuyo caso, los gastos generados por el mismo, correrán por cuenta del Usuario, y hasta tanto los mismos no sean cancelados, no se estará en obligación de hacer nuevamente el despacho. 
        </p>
        <p class="regular-content">
            Si el Usuario no procede a solicitar el reenvío en el término indicado, o no cancela el valor adicional por el reenvío, MOVIES podrá desistir del negocio, y estará obligado sólo a restituir el monto pagado por los productos, descontando el valor de los gastos incurridos por transporte.
        </p>
        <p class="regular-content">
            <strong>Entrega Express</strong>
        </p>
        <p class="regular-content">
            Recibe tu pedido en las próximas 24 horas si estás en Medellín o algunas de estas zonas
        </p>
        <ol type="1" class="number-list">
            <li>
                ¿A cuáles destinos aplica?
                <ul class="regular-list">
                    <li>
                        Medellín
                    </li>
                    <li>
                        Envigado
                    </li>
                    <li>
                        Itagüí
                    </li>
                    <li>
                        Sabaneta
                    </li>
                    <li>
                        La Estrella
                    </li>
                </ul>
            </li>
            <li>
                NO aplica envío gratis así las compras sean superiores a $99.900
            </li>
            <li>
                Valor único del flete: $9.900
            </li>
            <li>
                Promesa de entrega: Recibe tu pedido en las próximas 24 horas:
                <ul class="regular-list">
                    <li>
                        Los pedidos cuyo pago sean aprobados antes de las 12:00 del día serán despachados el mismo día.
                    </li>
                    <li>
                        Los pedidos cuyo caso el pago se apruebe después de las 12:00 del día, serán entregados el siguiente día hábil.
                    </li>
                </ul>
            </li>
            <li>
                Proceso de compra:
                <ul class="regular-list">
                    <li>
                        Selecciona tus productos y agrégalos al carrito de compras.
                    </li>
                    <li>
                        En el Checkout, ingresa tus datos personales y luego selecciona como método de envío: "Envío Express"
                    </li>
                    <li>
                        ¡Ya está! Recibe tu pedido en las próximas 24 horas después de aprobada tu compra.
                    </li>
                </ul>
            </li>
        </ol>
    </div>
    <div class="block-content">
        <p class="secondary-title">12. DISPONIBILIDAD DE LOS PRODUCTOS</p>
        <p class="regular-content">
            MOVIES se encarga de la actualización de El Sitio y la revisión constante de los productos que se exhiben en el mismo durante cada cierre periódico. Dado lo anterior, durante las ejecuciones de compra que llevan a cabo los Usuarios en el transcurso de día, puede verse afectada la disponibilidad de los productos, en cuyo caso, MOVIES asumirá de inmediato las reposiciones, cambios de productos o devoluciones a que haya lugar.
        </p>
    </div>
    <div class="block-content">
        <p class="secondary-title">13. PAGO</p>
        <p class="regular-content">
            El precio que se deberá pagar por cada artículo adquirido por parte de un Usuario será el establecido en El Sitio al momento de realizarse la oferta de compra. 
        </p>
        <p class="regular-content">
            Antes de procesar cualquier solicitud de compra, el Usuario deberá elegir los términos y las condiciones de pago según los medios de pago que se encuentren habilitados en El Sitio y de los cuales es informado a través de este. MOVIES a través de El Sitio, pone a disposición de los Usuarios un sistema de conexión segura para la realización de las transacciones que se efectúen en El Sitio, sistema que es administrado por entidades ajenas a MOVIES. 
        </p>
        <p class="regular-content">
            Una vez que MOVIES verifique la realización del pago y, además, la solicitud de compra se procederá con la consecuente aceptación de dicha solicitud.
        </p>
        <p class="regular-content">
            Una vez que MOVIES verifique la realización del pago y, además, la solicitud de compra se procederá con la consecuente aceptación de dicha solicitud.
        </p>
        <p class="regular-content">
            Asimismo, el Usuario acepta no implementar el uso de ningún dispositivo, software, entre otros para obstruir el correcto funcionamiento de El Sitio.
        </p>
    </div>
    <div class="block-content">
        <p class="secondary-title">14. INFORMACIÓN PARA PAGOS</p>
        <p class="regular-content">
            Para proceder a realizar el pago de los productos seleccionados por el Usuario, El Sitio pone a disposición de estos un enlace que comunica los respectivos medios de pago autorizados en las que el manejo de la información personal será de responsabilidad exclusiva del responsable del medio de pago elegido por el Usuario, donde los mismos deberán aceptar los Términos y Condiciones de Uso del medio de pago antes de realizar sus transacciones.
        </p>
        <p class="regular-content">
            Por lo anterior, el Usuario entiende y acepta que MOVIES no es responsable de la administración y control de dichas plataformas de pago, razón por la cual, lo exonera de todo tipo de responsabilidad derivada del pago y uso de sus instrumentos financieros.
        </p>
    </div>
    <div class="block-content">
        <p class="secondary-title">15. DEVOLUCIONES Y CAMBIOS</p>
        <p class="regular-content">
            MOVIES, procederá a realizar los cambios y a aceptar las devoluciones de los productos que no hayan sido usados hasta 1 mes (30 días) después de la compra. 
        </p>
        <p class="regular-content">
            De presentarse el caso de que se decida efectuar un cambio por un producto de mayor valor, el excedente deberá ser pagado contra entrega por parte del Usuario. Para que el cambio tenga validez los productos que van a ser cambiados se deben devolver a MOVIES en los puntos de venta de formato MOVIES o a través de contacto directo por el formulario del contáctenos que se encuentra en la página web  <a href="www.moviesshop.co">www.moviesshop.co</a>, dichos productos deben encontrarse en perfectas condiciones, en el empaque original, con las etiquetas aún puestas y la correspondiente factura de compra, de lo contrario el cambio no será aceptado. 
        </p>
        <p class="regular-content">
            No se aceptarán devoluciones de prendas íntimas y vestidos de baño tanto de dama como caballero a menos que sean por defectos de calidad, idoneidad o seguridad.
        </p>
        <p class="regular-content">
            El tiempo de procesamiento de la solicitud de devolución o cambio será de 24 horas más un término adicional equivalente al tiempo previsto para el transporte (remisión del nuevo envío) de la mercancía según lugar de destino de esta; el tiempo de transporte será el que defina la empresa transportadora para cada despacho, MOVIES no se hará responsable por los perjuicios que pueda ocasionar el retardo en el trasporte de la mercancía. El lugar de destino para el envío de los cambios de mercancía solicitados por el cliente deberá encontrarse dentro de las zonas geográficas habilitadas en el sitio para el territorio colombiano.
        </p>
    </div>
    <div class="block-content">
        <p class="secondary-title">16. GARANTÍA LEGAL</p>
        <p class="regular-content">
            En cumplimiento de los términos del artículo 11 de la Ley 1480 de 2011, MOVIES otorgará garantía sobre sus productos en los siguientes términos para aquellos productos susceptibles de ella única y exclusivamente por defectos en su calidad, idoneidad o seguridad, procediendo en caso de ser aceptada por ajustarse a la normatividad vigente:
        </p>
        <p class="italic-content">
            “Cambio totalmente gratuito del bien, así como su transporte, de ser necesario. En caso de que el nuevo producto presente nuevamente fallas, se procederá, a elección del Usuario, con un nuevo cambio, devolución total o parcial del precio pagado o al cambio parcial o total del bien por otro de la misma especie, similares características o especificaciones técnicas, las cuales en ningún caso podrán ser inferiores a las del producto que dio lugar a la garantía”.
        </p>
        <p class="regular-content">
            En cualquier caso, el término de la garantía legal es de treinta (30) días contados a partir de la entrega del producto y, en cualquier caso, para su procedencia, el Usuario debe haber cumplido con todos los estándares de cuidado y uso de los productos.
        </p>
        <p class="regular-content">
            La solicitud de garantía puede ser efectuada a través de los canales de atención dispuestos por MOVIES, esto es, a través del teléfono +57 (4) 444 28 49 ext. 210, celular 350 316 73 11 o al correo electrónico <a href="mailto:servicioalcliente@moviesshop.co">servicioalcliente@moviesshop.co</a>. En cualquier caso, MOVIES dará estudio a cada solicitud y la resolverá en los términos de la ley aplicable.
        </p>
    </div>
    <div class="block-content">
        <p class="secondary-title">17. DERECHO DE RETRACTO</p>
        <p class="regular-content">
            La ley 1480 de 2011 ha determinado que sobre las ventas que utilizan métodos no tradicionales o a distancia aplica el Derecho de Retracto, por lo cual, a través del teléfono +57 (4) 444 28 49 ext. 210, celular 350 316 73 11 o al correo electrónico <a href="mailto:servicioalcliente@moviesshop.co">servicioalcliente@moviesshop.co</a>., es procedente, solicitar el derecho de retracto si la solicitud es notificada dentro de los cinco (5) días hábiles siguientes a la fecha de la entrega del bien.
        </p>
        <p class="regular-content">
            El Usuario que solicita la aplicación del Derecho de Retracto deberá devolver el producto en las mismas condiciones en que lo recibió, es decir, el producto no debe presentar indicios de uso o problemas de idoneidad no reportados al momento de la entrega. De igual forma, el bien debe ser entregado con todos sus accesorios y empaques originales. Para el efecto, un representante de MOVIES verificará el estado general del artículo. En caso de ser necesario se solicitarán fotografías del estado de los empaques y el producto.
        </p>
        <p class="regular-content">
            Si el producto presenta alguna novedad de calidad no reportada al momento de la entrega, se enviará el bien a un Centro de Servicios Autorizado para que se efectué un diagnostico técnico en cuyo evento se responderá de acuerdo con los plazos estipulados por la Ley 1480 de 2011 (Artículos 7 al 12), para el trámite de garantía y se informara sobre la procedencia o no del Derecho de Retracto.
        </p>
        <p class="regular-content">
            <strong>De acuerdo con la Ley 1480 de 2011, no es procedente el Derecho de Retracto en los siguientes eventos:</strong>
        </p>
        <ul class="regular-list">
            <li>
                Contratos de prestación de servicios cuya prestación haya comenzado con el acuerdo del consumidor.
            </li>
            <li>
                En los contratos de suministro de bienes o servicios cuyo precio este sujeto a fluctuaciones de coeficientes del mercado financiero que el productor no pueda controlar.
            </li>
            <li>
                En los contratos de suministro de bienes confeccionados conforme a las especificaciones del consumidor o claramente personalizados.
            </li>
            <li>
                En los contratos de suministro bienes que, por su naturaleza, no pueden ser devueltos o puedan deteriorarse o caducar con rapidez.
            </li>
            <li>
                En los contratos de servicios de apuestas y loterías.
            </li>
            <li>
                En los contratos de adquisición de bienes perecederos.
            </li>
            <li>
                En los contratos de adquisición de bienes de uso personal.
            </li>
        </ul>
        <p class="regular-content">
            La devolución del dinero en ejercicio del Derecho de Retracto se realizará a más tardar a los treinta (30) días calendario contados desde el momento en que se ejerció el derecho.
        </p>
    </div>
    <div class="block-content">
        <p class="secondary-title">18. REVERSIONES</p>
        <p class="regular-content">
            En la medida que las ventas realizadas a través de nuestro sitio web son consideradas como ventas hechas a través de mecanismos de comercio electrónico, los participantes del proceso de pago podrán solicitar la reversión de los pagos que solicité el consumidor cuando sea objeto de fraude, o corresponda a una operación no solicitada, o el producto adquirido no sea recibido, o el producto entregado no corresponda a lo solicitado o sea defectuoso.
        </p>
        <p class="regular-content">
            Para las reversiones MOVIES, contará con quince (15) días hábiles a partir de momento en que se reciban los documentos necesarios que apliquen para cada caso y éstos sean objeto de análisis y, en caso de ser posible, aprobado. Esta queja deberá ser presentada dentro los cinco (5) días hábiles siguientes a la fecha en que el consumidor tuvo noticia la operación fraudulenta o no solicitada, o en que debió haber recibido producto o lo recibió defectuoso o sin que correspondiera a lo solicitado. La solicitud que se presente a MOVIES, deberá ser presentada a través del correo electrónico <a href="mailto:servicioalcliente@moviesshop.co">servicioalcliente@moviesshop.co</a>, fundamentando la solicitud de reversión (el cliente debe explicar el porqué de su solicitud, de forma clara, precisa, oportuna y veraz), así:
        </p>
        <ol type="a" class="letter-list">
            <li>
                Indicar la causal que sustenta la petición, la cual sólo podrá ser una de las siguientes opciones:
                <ul class="regular-list">
                    <li>
                        Fue objeto de Fraude.
                    </li>
                    <li>
                        Fue una operación no solicitada.
                    </li>
                    <li>
                        El producto adquirido no sea recibido.
                    </li>
                    <li>
                        El producto entregado no corresponda a lo solicitado, no cumpla con las características inherentes o las atribuidas por la información que se suministre sobre él.
                    </li>
                    <li>
                        El producto se encuentre defectuoso
                    </li>
                </ul>
            </li>
            <li>
                Confirmar valor por el que se solicita la reversión.
            </li>
            <li>
                Adjuntar copia de la transacción (voucher o comprobante del pago con número, fecha y hora).
            </li>
            <li>
                Adjuntar copia del documento de identidad del propietario del medio de pago con el cual se efectuó la compra.
            </li>
            <li>
                Adjuntar certificación de la cuenta bancaria con la cual se realizó la operación. No se admiten extractos o copias vencidas.
            </li>
        </ol>
    </div>
    <div class="block-content">
        <p class="secondary-title">19. DATOS PERSONALES O “HABEAS DATA”</p>
        <p class="regular-content">
            Al aceptar los términos y condiciones legales, el Usuario indica que conoce y autoriza de manera previa, expresa e informada a MOVIES, sus filiales y vinculadas, para que como Titular de sus Datos Personales puedan ser objeto de Tratamiento y almacenamiento en Bases de Datos conforme a lo dispuesto en la Ley 1581 de 2011 y sus Decretos Reglamentarios. 
        </p>
        <p class="regular-content">
            Asimismo, el Usuario reconoce que ha sido notificado acerca de la política para la protección de datos personales disponible en el Sitio, acepta su contenido y, a su vez, acepta que MOVIES se encuentra autorizado para utilizar su información personal de acuerdo con la Política de Datos Personales disponible en El Sitio. 
        </p>
        <p class="regular-content">
            En cualquier caso, se deja expreso que MOVIES es responsable del tratamiento de la información personal recaudada con ocasión al comercio electrónico, para cuyos actos se aplicará la normatividad vigente en Colombia, teniendo como sus principales obligaciones: Garantizar el efectivo ejercicio del derecho de hábeas data de los usuarios y/o clientes, Conservar la información bajo las condiciones de seguridad necesarias para impedir su adulteración, pérdida, consulta, uso o acceso no autorizado o fraudulento; Realizar oportunamente la actualización, rectificación o supresión de los datos, Tramitar las consultas y los reclamos formulados por los Titulares en los términos señalados en la ley 1581 de 2012, entre otros.
        </p>
    </div>
    <div class="block-content">
        <p class="secondary-title">20. EXONERACIÓN</p>
        <p class="regular-content">
            MOVIES no asumirá ningún tipo de responsabilidad cuando no se haya comunicado de manera oportuna por parte del Usuario la existencia de la violación de su información personal, o cuando el Usuario no haya procedido a comunicar a las correspondientes entidades acerca del uso indebido, sustracción o hurto de los instrumentos conferidos por éstas para realizar transacciones, o cuando se realice un uso indebido de sus datos de registro.
        </p>
        <p class="regular-content">
            En todo caso, todo Usuario de El Sitio mantendrá indemne a MOVIES, sus filiales, controlantes y todo su personal por cualquier tipo de reclamación o acción legal que se iniciada por cualquier persona por motivo de las actividades y contenido de El Sitio.
        </p>
    </div>
    <div class="block-content">
        <p class="secondary-title">21. PUBLICIDAD Y ENLACES</p>
        <p class="regular-content">
            MOVIES también podrá comunicar información comercial y publicitaria, identificándola como tal, a los usuarios del portal que lo hayan autorizado al momento del registro y/o actualización de sus datos. La información comercial y publicitaria que se remita será leal e indicará las condiciones en las cuales proceda una oferta, rebaja, concurso o premio.
        </p>
        <p class="regular-content">
            La información comercial y publicitaria que llegue a comunicarse a los usuarios de nuestro portal estará enmarcada en la ley, la moral y las buenas costumbres.
        </p>
    </div>
    <div class="block-content">
        <p class="secondary-title">22. PROPIEDAD INTELECTUAL</p>
        <p class="regular-content">
            Debido a que el contenido de El Sitio está protegido por la normatividad relativa a los derechos de propiedad intelectual, el uso no autorizado de los materiales que se encuentren en el mismo puede representar una infracción a esta normativa e incluso, leyes de otro tipo como penal.
        </p>
        <p class="regular-content">
            En caso de que algún Usuario utilice los materiales de El Sitio para uso personal o no comercial, éste ha de mantener todos los avisos relativos a los derechos de propiedad intelectual, marcas registradas o de tipo similar que se encuentren en los materiales originales o en las copias de los materiales.
        </p>
        <p class="regular-content">
            No se encuentra permitido modificar ni reproducir los contenidos de El Sitio, ni mostrarlos en público, usarlos o distribuirlos para fines públicos o comerciales.
        </p>
        <p class="regular-content">
            Adicionalmente, los contenidos de El Sitio, así como todos los programas, archivos, bases de datos, redes que permiten a los Usuarios ingresar a El Sitio, son propiedad exclusiva de MOVIES. Cualquier uso indebido, no autorizado o reproducción de cualquier parte de dichos contenidos se encuentra prohibida. 
        </p>
        <p class="regular-content">
            En ese sentido, todo el material informático, gráfico, publicitario, fotográfico, de multimedia, audiovisual y/o de diseño, así como todos los contenidos, textos y bases de datos puestos a su disposición en este sitio son de propiedad exclusiva de MOVIES, o en algunos casos, de terceros que han autorizado a MOVIES para su uso y/o explotación (en adelante "los contenidos").
        </p>
        <p class="regular-content">
            Igualmente, el uso en El Sitio de algunos contenidos de propiedad de terceros se encuentra expresamente autorizado por la ley. Todos los contenidos en El Sitio están protegidos por las normas sobre derechos de autor, marcas y por todas las normas nacionales e internacionales que le sean aplicables.
        </p>
        <p class="regular-content">
            Exceptuando lo expresamente estipulado en estos términos y condiciones, queda prohibido todo acto de copia, reproducción, modificación, creación de trabajos derivados, venta o distribución, exhibición de los contenidos, de ninguna manera o por ningún medio, incluyendo, mas no limitado a, medios electrónicos, mecánicos, de fotocopiado, de grabación o de cualquier otra índole, sin el permiso previo por escrito de MOVIES o del titular de los derechos de autor.
        </p>
        <p class="regular-content">
            En ningún caso estos términos y condiciones confieren derechos, licencias y/o autorizaciones para realizar los actos anteriormente descritos. Cualquier uso no autorizado de los contenidos constituirá una violación a los presentes términos y condiciones y a las normas vigentes sobre marcas, derechos de autor y/u otras normas de propiedad intelectual tanto nacionales e internacionales aplicables. 
        </p>
    </div>
    <div class="block-content">
        <p class="secondary-title">23. USO DE FOTOS EN LA GALERÍA</p>
        <p class="regular-content">
            Al responder al mensaje automático con el #SiMovies autorizas que usemos tu imagen en nuestro sitio web dando el debido crédito, para ser utilizada como herramienta de visualización y compra de productos en nuestro sitio web www.moviesshop.co. Después de esta autorización, tu foto aparecerá en nuestra galería y será asociada a nuestros productos.
        </p>
        <p class="regular-content">
            La utilización de tu(s) foto(s) no está ligada a ninguna retribución monetaria por parte de MOVIES (W STUDIO DE COLOMBIA DE COLOMBIA S.A.S NIT: 900738307-9), y este está exento de cualquier tipo de pago por la utilización de tu imagen. Tu imagen podrá ser removida de nuestro sitio web en el futuro, si así lo expresas mediante algún medio oficial de la marca (redes sociales, línea de atención al cliente, chat online o correo electrónico).
        </p>
    </div>
    <div class="block-content">
        <p class="secondary-title">24. SEGURIDAD INFORMÁTICA</p>
        <p class="secondary-subtitle">24.1. COOKIES</p>
        <p class="regular-content">
            Las cookies son pequeños archivos de datos que los sitios web como El Sitio o los correos electrónicos almacenan en el buscador y opcionalmente en el disco duro con el fin de contar con la información acerca de las preferencias de los Usuarios que hacen uso de El Sitio. 
        </p>
        <p class="regular-content">
            MOVIES utiliza un tercero para instalar las respectivas cookies en el sistema del respectivo Usuario y así, conseguir la información que no sea de tipo personal e identificable. Lo anterior, es conocido a través del presente documento, por parte de los Usuarios de El Sitio por lo que, además, aceptan el uso que se realiza de las cookies. 
        </p>
        <p class="secondary-subtitle">24.2. PROTECCIÓN DEL SITIO</p>
        <p class="regular-content">
            MOVIES prohíbe de manera expresa el uso de cualquier signo distintivo de su propiedad, a menos que su uso sea aprobado por parte de MOVIES a través de un escrito debidamente suscrito por quien legalmente corresponda, caso en el cual, podrá realizarse dicho uso bajo los parámetros otorgados en la autorización.
        </p>
        <p class="regular-content">
            El despliegue, utilización, exhibición, copia o cualquier otra forma de reproducción de El Sitio, en sitios no controlados por MOVIES, quedan expresamente prohibidos.
        </p>
    </div>
    <div class="block-content">
        <p class="secondary-title">25. LEGISLACIÓN APLICABLE Y JURISDICCIÓN</p>
        <p class="regular-content">
            Los presentes Términos y Condiciones se regirán e interpretarán de acuerdo con la legislación colombiana y en todo caso, toda controversia que surja con base a estos Términos y Condiciones se someterá a la misma. 
        </p>
    </div>
    <div class="block-content">
        <p class="secondary-title">26. INDEPENDENCIA DE DISPOSICIONES</p>
        <p class="regular-content">
            En caso de que una o algunas de las disposiciones contenidas en el este documento sean consideradas nulas, ilegales o ineficaces en cualquier aspecto, la validez, legalidad y exigibilidad o eficacia del resto de las disposiciones del presente documento no se verán afectadas o anuladas por dicha circunstancia.
        </p>
    </div>
    <div class="block-content">
        <p class="secondary-title">27. NOTIFICACIONES</p>
        <p class="regular-content">
            El Sitio recibirá notificaciones a través del correo electrónico <a href="mailto:servicioalcliente@moviesshop.co">servicioalcliente@moviesshop.co</a>, o del teléfono +57 (4) 444 28 49 ext. 201 o celular 350 316 73 11. 
        </p>
    </div>
</div>