<div id="corporate-content" class="corporate-content-trabaja-con-nosotros">
    <h1 class="main-title">Trabaja con nosotros</h1>
    <div class="block-content">
        <p class="secondary-title">¡HAZ PARTE DE LA FÁBRICA DE LA FANTASÍA!</p>
        <p class="regular-content">
            Somos mic, la compañía líder en generación de fantasía en prendas de vestir. Trabajamos con marcas como Disney, Marvel y Nickelodeon, y buscamos personas apasionadas que quieran poner magia en todo lo que hacen.
        </p>
        <p class="regular-content">
            Si quieres hacer parte de nuestro equipo de más de 1.000 soñadores en tiendas, plantas y sedes administrativas, envíanos tu hoja de vida a <a href="mailto:talentos@mic.com.co">talentos@mic.com.co</a> indicando en el asunto el cargo al que quieres aplicar.
        </p>
        <p class="regular-content">
            ¿Te animas a trabajar en una compañía creadora de magia?
        </p>
    </div>
</div>