
<!-- MODEL B-->
<div class="contenedor">
    <div class="banner-50 banner-50-mobile">
        <div class="banner-100 banner-100-mobile">
            <div class="banner-100 banner-100-mobile hover">
                <a href="/147?PS=24&map=c,productClusterIds" class="enlace-full">
                    <picture>
                        <source srcset="/arquivos/modelB-banner1-julio-desktop-min.jpg" media="(min-width:769px)" />
                        <img src="/arquivos/modelB-banner1-julio-mobile-min.jpg" />
                    </picture>
                </a>
                <div class="text-container">
                    <a href="/147?PS=24&map=c,productClusterIds" class="enlace-full">
                        <div class="float-text">
                            <!--<p class="text-1"></p>
                            <p class="text-2"></p>-->
                            <a href="/147?PS=24&map=c,productClusterIds" class="enlace-1">
                                Ver más
                                <!--<img src="/arquivos/PlusIconWhite.png" />-->
                            </a>
                        </div>
                    </a>
                </div>
                <!--<p class="text-3 banner-tag tag-rojo"><img src="/arquivos/TagIconPlus.png" />Ofertas</p>-->
            </div>
        </div>
        <div class="banner-100 banner-100-mobile">
            <div class="banner-100 banner-100-mobile hover">
                <a href="/148?PS=24&map=c,productClusterIds" class="enlace-full">
                    <picture>                    
                        <source srcset="/arquivos/modelB-banner2-julio-desktop-min.jpg" media="(min-width:769px)" />
                        <img src="/arquivos/modelB-banner2-julio-mobile-min.jpg" />
                    </picture>
                </a>
                <div class="text-container">
                    <a href="/148?PS=24&map=c,productClusterIds" class="enlace-full">
                        <div class="float-text">
                            <!--<p class="text-1">Color Look</p>
                            <p class="text-2">Nueva <br/> colección</p>-->
                            <a href="/148?PS=24&map=c,productClusterIds" class="enlace-1">
                                Ver más
                                <!--<img src="/arquivos/PlusIconWhite.png" />-->
                            </a>
                        </div>
                    </a>
                </div>
                <!--<p class="text-3 banner-tag tag-naranja">Nueva colección</p>-->
            </div>
        </div>
    </div>
    <div class="banner-50 banner-50-mobile">
        <div class="banner-100 banner-100-mobile">
            <div class="banner-100 banner-100-mobile hover">
                <a href="/157?PS=24&map=c,productClusterIds" class="enlace-full">
                    <picture>
                        <source srcset="/arquivos/banner-sec-julio-desktop3.jpg" media="(min-width:769px)" />
                        <img src="/arquivos/banner-sec-julio-movil3.jpg" />
                    </picture>
                </a>
                <div class="text-container">
                    <a href="/157?PS=24&map=c,productClusterIds" class="enlace-full">
                        <div class="float-text">
                            <!--<p class="text-1"></p>
                            <p class="text-2"></p>-->
                            <a href="/157?PS=24&map=c,productClusterIds" class="enlace-1">
                                Ver más
                                <!--<img src="/arquivos/PlusIconWhite.png" />-->
                            </a>
                        </div>
                    </a>
                </div>
                <!--<p class="text-3 banner-tag tag-azul">Destacados</p>-->
            </div>
        </div>
    </div>
</div>