    <div class="banner">
        <a href="/">
            <picture>
                <source srcset="/arquivos/banner-principal-desktop-julio-min.jpg" media="(min-width:769px)" />
                <img src="/arquivos/banner-principal-mobile-julio-min.jpg" />         
            </picture>
        </a>
        <div class="bannerTexts">
            <!--<p class="bannerText1">Prepara tu Look</p>
            <p class="bannerText2">Nueva Colección</p>
            <a class="bannerButton" href="/"> Comprar ahora
                <img src="/arquivos/PlusIconWhite.png" />
            </a>-->
        </div>
    </div>

<!--<div class="banner">
        <a href="/mic">
            <picture>
                <source srcset="/arquivos/banner-desktop-mic-nuevo-min.png" media="(min-width:769px)" />
                <img src="/arquivos/Banner_Mobile_LanzamientoMICFINAL-min.png" />   
            </picture>
        </a>
        <div class="bannerTexts">
            <p class="bannerText1">Texto 1</p>
            <p class="bannerText2">Nueva Colección</p>
            <a class="bannerButton" href="/mic/">Comprar ahora
                <img src="/arquivos/PlusIconWhite.png" />
            </a>
        </div>
    </div>-->