<div class="contenedor">
    <div class="banner-50 banner-100-mobile">
        <div class="banner-100 banner-100-mobile">
            <div class="banner-100 banner-100-mobile hover">
                <a href="/hombre" class="enlace-full">
                    <picture>
                        <source srcset="/arquivos/banner-categorias-desktop-hombre.jpg" media="(min-width:769px)" />
                        <img src="/arquivos/banner-categorias-mobile-hombre.jpg" />
                    </picture>
                </a>
                <div class="text-container">
                    <a href="/hombre" class="enlace-full">
                        <div class="float-text">
                            <!--<p class="text-1">Fantasía para</p>-->
                            <p class="text-2">HOMBRE</p>
                            <a href="/hombre" class="enlace-1">
                                Ver más
                                <!--<img src="/arquivos/PlusIconWhite.png" />-->
                            </a>
                        </div>
                    </a>
                </div>
                <!--<p class="text-3 banner-tag tag-negro"><img src="/arquivos/NinaIcon.png" />MUJER</p>-->
            </div>
        </div>
    </div>
    <div class="banner-50 banner-100-mobile">
        <div class="banner-100 banner-100-mobile">
            <div class="banner-100 banner-100-mobile hover">
                <a href="/mujer" class="enlace-full">
                    <picture>
                        <source srcset="/arquivos/banner-categorias-desktop-mujer.jpg" media="(min-width:769px)" />
                        <img src="/arquivos/banner-categorias-mobile-mujer.jpg" />
                    </picture>
                </a>
                <div class="text-container">
                    <a href="/mujer" class="enlace-full">
                        <div class="float-text">
                            <!--<p class="text-1">Fantasía para</p>-->
                            <p class="text-2">MUJER</p>
                            <a href="/mujer" class="enlace-1">
                                Ver más
                                <!--<img src="/arquivos/PlusIconWhite.png" />-->
                            </a>
                        </div>
                    </a>
                </div>
                <!--<p class="text-3 banner-tag tag-negro"><img src="/arquivos/NinoIcon.png" />HOMBRE</p>-->
            </div>
        </div>
    </div>
</div>