<ul>
    <!--<li>
        <a href="/mic/niño">
            <img src="/arquivos/categoria_chicos-min.png" alt="">
            <p>Hombres</p>
        </a>
    </li>-->
    <li>
        <a href="">
            <img src="/arquivos/categoria_chicos-camisetas-min.png" alt="">
            <p>Camisetas Hombres</p>
        </a>
    </li>
    <li>
        <a href="">
            <img src="/arquivos/categoria_chicos-pijama-min.png" alt="">
            <p>Pijamas Hombres</p>
        </a>
    </li>
    <li>
        <a href="">
            <img src="/arquivos/categoria_chicos-swimsuit-min.png" alt="">
            <p>Trajes de baño Hombres</p>
        </a>
    </li>
    <li>
        <a href="">
            <img src="/arquivos/categoria_chicos-chaquetas-min.png" alt="">
            <p>Buzos y Chaquetas Hombres</p>
        </a>
    </li>
    <!--<li>
        <a href="">
            <img src="/arquivos/categoria_chicos-pantalones-min.png" alt="">
            <p>Jeans y Pantalones Hombres</p>
        </a>
    </li>-->
    <!--<li>
        <img src="/arquivos/categoria_chicos-swimsuit-min.png" alt="">
        <p><a href="/mic/niño/bermudas">Bermudas niño</a></p>
    </li>-->
    <!--<li>
        <a href="">
            <img src="/arquivos/categoria_chicos--interior-min.png" alt="">
            <p>Ropa interior Hombres</p>
        </a>
    </li>-->
    <!--<li>
        <a href="/mic/niño/zapatos">
            <img src="/arquivos/categoria_chicos-zapatos-min.png" alt="">
            <p>Zapatos Hombres</p>
        </a>
    </li>-->
    <!--<li>
        <a href="/mic/niño/accesorios">
            <img src="/arquivos/categoria_accesorios-min.png" alt="">
            <p>Accesorios Hombres</p>
        </a>
    </li>-->
    <!--<li>
        <a href="/mic/niño/morrales">
            <img src="/arquivos/categoria_maletas-min.png" alt="">
            <p>Morrales Hombres</p>
        </a>
    </li>-->
    <!--<li>
        <a href="/mic/niña">
            <img src="/arquivos/categoria_chicas-min.png" alt="">
            <p>Mujeres</p>
        </a>
    </li>-->
    <li>
        <a href="">
            <img src="/arquivos/categoria_chicas-camisetas-blusas-min.png" alt="">
            <p>Camisetas Mujeres</p>
        </a>
    </li>
    <li>
        <a href="">
            <img src="/arquivos/categoria_chicas-pijama-min.png" alt="">
            <p>Pijamas Mujeres</p>
        </a>
    </li>
    <li>
        <a href="">
            <img src="/arquivos/categoria_chicas-swimsuit-min.png" alt="">
            <p>Trajes de baño Mujeres</p>
        </a>
    </li>
    <!--<li>
        <img src="/arquivos/categoria_chicos-chaquetas-min.png" alt="">
        <p><a href="/mic/niño/abrigos-y-chaquetas">Buzos &amp; Chaquetas niño</a></p>
    </li>-->
    <li>
        <a href="">
            <img src="/arquivos/categoria_chicas-leggings-min.png" alt="">
            <p>Jeans y Pantalones Mujeres</p>
        </a>
    </li>
    <li>
        <a href="">
            <img src="/arquivos/categoria_chicas-faldas-min.png" alt="">
            <p>Vestidos y Faldas Mujeres</p>
        </a>
    </li>
    <!--<li>
        <a href="">
            <img src="/arquivos/categoria_chicas-interior-min.png" alt="">
            <p>Ropa interior Mujeres</p>
        </a>
    </li>-->
    <!--<li>
        <a href="">
            <img src="/arquivos/categoria_chicas-zapatos-min.png" alt="">
            <p>Zapatos Mujeres</p>
        </a>
    </li>-->
    <!--<li>
        <a href="">
            <img src="/arquivos/categoria_accesorios-min.png" alt="">
            <p>Accesorios Mujeres</p>
        </a>
    </li>-->
    <!--<li>
        <a href="">
            <img src="/arquivos/categoria_maletas-min.png" alt="">
            <p>Morrales Mujeres</p>
        </a>
    </li>-->
    <!--<li>
        <a href="#">
            <img src="/arquivos/categoria-festival-min.png" alt="">
            <p>Festival</p>
        </a>
    </li>-->
    <!--<li>
        <a href="">
            <img src="/arquivos/categoria_outlet-min.png" alt="">
            <p>Outlet</p>
        </a>
    </li>-->
    <!--<li>
        <a href="">
            <img src="/arquivos/categoria_nuevo-min.png" alt="">
            <p>Nuevo</p>
        </a>
    </li>-->
</ul>