<ul>
    <li>
        <a href="/dc comics">
            <img src="/arquivos/legal_dc3-min.png" alt="">
            <!--<p>DC Comics</p>-->
        </a>
    </li>
    <li>
        <a href="/disney">
            <img src="/arquivos/legal_disney3-min.png" alt="">
            <!--<p>Disney</p>-->
        </a>
    </li>
    <li>
        <a href="/marvel">
            <img src="/arquivos/legal_marvel3-min.png" alt="">
            <!--<p>Marvel</p>-->
        </a>
    </li>
    <!--<li>
        <a href="/warner Bros">
            <img src="/arquivos/legal_warner3-min.png" alt="">
            <p>Warner Bros</p>
        </a>
    </li>-->
    <li>
        <a href="/hbo">
            <img src="/arquivos/legal_hbo3-min.png" alt="">
            <!--<p>HBO</p>-->
        </a>
    </li>
    <li>
        <a href="/sanrio">
            <img src="/arquivos/legal_sanrio3-min.png" alt="">
            <!--<p>Sanrio</p>-->
        </a>
    </li>
    <li>
        <a href="/nickelodeon">
            <img src="/arquivos/legal_nickelodeon3-min.png" alt="">
            <!--<p>Nickelodeon</p>-->
        </a>
    </li>
    <!--
    <li>
        <a href="/star Wars">
            <img src="/arquivos/legal_star-wars-min.png" alt="">
            <p>Star Wars</p>
        </a>
    </li>
    <li>
        <a href="/fox">
            <img src="/arquivos/legal_fox-min.png" alt="">
            <p>FOX</p>
        </a>
    </li>
-->
    <li>
        <a href="/mattel">
            <img src="/arquivos/legal_mattel2-min.png" alt="">
            <!--<p>Mattel</p>-->
        </a>
    </li>
</ul>