<div class="tabs">
    <div class="content_tab active">
        <!--<img src="/arquivos/camiseta-niños-vitrina.png" />-->
        <a href="#content_tab1" class="active">Camisetas</a>
    </div>
    <div class="content_tab">
        <!--<img src="/arquivos/pijama-niños-vitrina.png" />-->
        <a href="#content_tab2">Pijamas</a>
    </div>
    <div class="content_tab">
        <!--<img src="/arquivos/swiming-niños-vitrina.png" />-->
        <a href="#content_tab3">Buzos y Chaquetas</a>
    </div>
    <div class="content_tab">
        <!--<img src="/arquivos/sacos-niños-vitrina.png" />-->
        <a href="#content_tab4">Protección</a>
    </div>
    <!--<div class="content_tab">
        <img src="/arquivos/sacos-niños-vitrina.png" />
        <a href="#content_tab5">Ofertas</a>
    </div>-->
</div>