<div class="formulario">
    <div class="form-table">
        <p>
            Suscríbete a nuestro boletín de noticias para enterarte
            de nuestras nuevas colecciones y recibir increíbles ofertas</span>
        </p>
        <span>
            Además obtén un 20% de descuento para redimir en tu primera compra
        </span>
        <form action="" id="mic-newsletter">
            <div class="form-inputs">
                <label class="custom_radio_container">
                    Soy Hombre
                    <input type="radio" id="hombre" name="genre" value="hombre" />
                    <span class="checkmark"></span>
                </label>
                <label class="custom_radio_container">
                    Soy Mujer
                    <input type="radio" id="mujer" name="genre" value="mujer" />
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="form-inputs">
                <input type="text" name="phone" placeholder="Teléfono celular*" id="phone" class="form-input" />
                <div class="input-group">
                    <input type="email" name="email" placeholder="Dirección de correo electrónico" id="email" class="form-input" />
                    <button type="submit" class="form-button" id="form-button">Envíar <img src="/arquivos/NextWhiteIcon.png" /></button>
                </div>
            </div>
            <div class="form-inputs policies">
                <label class="custom_radio_container">
                    *Al suscribirte aceptas nuestras <a href="/paginas-corporativas/politicas-de-privacidad" style="color:inherit;text-decoration:none;">políticas de tratamiento de datos</a>
                    <input type="radio" id="politica" name="politica" value="politica" />
                    <span class="checkmark"></span>
                </label>
            </div>
            <div id="news-message">
            </div>
        </form>
    </div>
</div>