<link rel="shortcut icon" href="/arquivos/movies-favicon-min.png" />
<link rel="stylesheet" href="/files/movies-global-modules.min.css" />
<!--Start of Zendesk Chat Script
<script type="text/javascript">
    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
    d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
    $.src="https://v2.zopim.com/?5XZuHl0P06EwiOw8zXqlrI6iqj0gzw7z";z.t=+new Date;$.
    type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
 Widget - SUMR CRM 
<script>
    (function(w,d,s,l,i) {
        var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&amp;l='+l:'';
        j.src='https://wdgt.sumr.co/main.js?id='+i; f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','19344ea7f0d59949d67513d5b5891a4e26b55e16');
</script>-->