<header class="header-desktop">

    <div class="header-center">        
        <div class="header-content container">
            <div class="header-movies">
                <div class="logo-header">
                    <a href="/">
                        <img src="/arquivos/Logo-Movies-Mobile.png" alt="Logo Movies" />                        
                    </a>                    
                </div>
                <div class="menu">
                    <ul>
                        <!--<li class="menu-first">
                            <a href="" class="link-menu">Colección Express</a>
                        </li>-->
                        <li class="menu-first menu-nino">
                            <a href="/hombre" class="link-menu link-icon">Hombre <img src="/arquivos/HDownArrowIcon.png" /> </a>
                            <ul class="menu-second">
                                <!--<li>
                                    <img src="/arquivos/NinoIcon.png" />
                                </li>
                                <li>
                                    <a>Edad [0-1]</a>
                                    <ul class="menu-third">

                                    </ul>
                                </li>
                                <li>
                                    <a>Edad [1-5]</a>
                                    <ul class="menu-third">

                                    </ul>
                                </li>-->
                                <li class="menu-second-dropdown active">
                                    <!--<a>Edad [5 - 14]</a>-->
                                    <ul class="menu-third">
                                        <li>
                                            <a class="link-menu link-icon">
                                                <!--<img src="/arquivos/CategoriaIcon.png" />-->Categoría
                                            </a>
                                            <ul>
                                                <!--<li>
                                                    <a href="/142?PS=24&amp;map=c,productClusterIds&amp;O=OrderByReleaseDateDESC" class="link-menu">Exclusivo</a>
                                                </li>-->
                                                <li>
                                                    <a href="/155?PS=24&amp;map=c,productClusterIds&amp;O=OrderByReleaseDateDESC" class="link-menu">Express</a>
                                                </li>
                                                <li>
                                                    <a href="/145?PS=24&amp;map=c,productClusterIds&amp;O=OrderByReleaseDateDESC" class="link-menu">Novedades</a>
                                                </li>                                                
                                                <li>
                                                    <a href="/hombre/camisetas" class="link-menu">Camisetas</a>
                                                </li>  
                                                <li>
                                                    <a href="/hombre/pijamas-y-ropa-interior" class="link-menu">Pijamas y Ropa Interior</a>
                                                </li>                                              
                                                <li>
                                                    <a href="/hombre/chaquetas" class="link-menu">Chaquetas</a>
                                                </li>
                                                
                                                <li>
                                                    <a href="/hombre/bandanas-y-tapabocas" class="link-menu">Bandanas y Tapabocas</a>
                                                </li>    
                                                <!--<li>
                                                    <a href="/hombre/accesorios" class="link-menu">Accesorios</a>
                                                </li>-->                                            
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="link-menu link-icon">
                                                <!--<img src="/arquivos/GhostIcon.png" />-->Personaje
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="/hombre" class="link-menu">Todos los personajes</a>
                                                </li>
                                                <li>
                                                    <a href="/hombre/movies?PS=12&amp;map=c,specificationFilter_20" class="link-menu">Movies</a>
                                                </li>
                                                <li>
                                                    <a href="/hombre/avengers?PS=12&amp;map=c,specificationFilter_20" class="link-menu">Avengers</a>
                                                </li>
                                                <li>
                                                    <a href="/hombre/dc comics?PS=12&amp;map=c,specificationFilter_20" class="link-menu">DC Comics</a>
                                                </li>
                                                <li>
                                                    <a href="/hombre/disney?PS=12&amp;map=c,specificationFilter_20" class="link-menu">Disney</a>
                                                </li> 
                                                <li>
                                                    <a href="/hombre/la casa de papel?PS=12&amp;map=c,specificationFilter_20" class="link-menu">La Casa de Papel</a>
                                                </li>
                                                <li>
                                                    <a href="/hombre/marvel?PS=12&amp;map=c,specificationFilter_20" class="link-menu">Marvel</a>
                                                </li>
                                                <li>
                                                    <a href="/hombre/bandas de rock?PS=12&amp;map=c,specificationFilter_20" class="link-menu">Rock Bands</a>
                                                </li>
                                                <li>
                                                    <a href="/hombre/star wars?PS=12&amp;map=c,specificationFilter_20" class="link-menu">Star Wars</a>
                                                </li>
                                                <li>
                                                    <a href="/hombre/los simpson?PS=12&amp;map=c,specificationFilter_20" class="link-menu">The Simpsons</a>
                                                </li>
                                                <li>
                                                    <a href="/hombre/video games?PS=12&amp;map=c,specificationFilter_20" class="link-menu">Video Games</a>
                                                </li>                                                                                                
                                                
                                            </ul>
                                            <a href="/hombre" class="link-menu see-all">
                                                VER TODO
                                            </a>
                                        </li>
                                        <li>
                                            <a href="149?PS=24&amp;map=c,productClusterIds&amp;O=OrderByReleaseDateDESC" class="link-menu link-icon">
                                                <!--<img src="/arquivos/StarIcon.png" />-->Ofertas
                                            </a>
                                            <div class="menu-img">
                                                <a href="149?PS=24&amp;map=c,productClusterIds&amp;O=OrderByReleaseDateDESC">
                                                    <img src="/arquivos/megamenu-hombre.jpg" />
                                                </a>                                                
                                                <!--<div class="text-container">
                                                    <a href="/mic/niño" class="enlace-1">
                                                        Ver más
                                                        <img src="/arquivos/PlusIconWhite.png" />
                                                    </a>
                                                </div>-->
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-first menu-nina">
                            <a href="/mujer" class="link-menu link-icon menu-nina">Mujer <img src="/arquivos/HDownArrowIcon.png" /> </a>
                            <ul class="menu-second">
                                <!--<li>
                                    <img src="/arquivos/NinaIcon.png" />
                                </li>
                                <li>
                                    <a>Edad [0-1]</a>
                                    <ul class="menu-third">

                                    </ul>
                                </li>
                                <li>
                                    <a>Edad [1-5]</a>
                                    <ul class="menu-third">

                                    </ul>
                                </li>-->
                                <li class="menu-second-dropdown active">
                                    <!--<a>Edad [5 - 14]</a>-->
                                    <ul class="menu-third">
                                        <li>
                                            <a class="link-menu link-icon">
                                                <!--<img src="/arquivos/CategoriaIcon.png" />-->Categoría
                                            </a>
                                            <ul>
                                                <!--<li>
                                                    <a href="/143?PS=24&amp;map=c,productClusterIds&amp;O=OrderByReleaseDateDESC" class="link-menu">Exclusivo</a>
                                                </li>-->
                                                <li>
                                                    <a href="/156?PS=24&amp;map=c,productClusterIds&amp;O=OrderByReleaseDateDESC" class="link-menu">Express</a>
                                                </li>
                                                <li>
                                                    <a href="/146?PS=24&amp;map=c,productClusterIds&amp;O=OrderByReleaseDateDESC" class="link-menu">Novedades</a>
                                                </li>                                                
                                                <li>
                                                    <a href="/mujer/camisetas-y-tops" class="link-menu">Camisetas y Tops</a>
                                                </li>
                                                <li>
                                                    <a href="/mujer/pijamas-y-ropa-interior" class="link-menu">Pijamas y Ropa interior</a>
                                                </li>
                                                <li>
                                                    <a href="/mujer/chaquetas" class="link-menu">Chaquetas</a>
                                                </li>
                                                
                                                <li>
                                                    <a href="/mujer/bandanas-y-tapabocas" class="link-menu">Bandanas y Tapabocas</a>
                                                </li>
                                                <!--<li>
                                                    <a href="/mujer/accesorios" class="link-menu">Accesorios</a>
                                                </li>-->
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="link-menu link-icon">
                                                <!--<img src="/arquivos/GhostIcon.png" />-->Personaje
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="/mujer" class="link-menu">Todos los personajes</a>
                                                </li>
                                                <li>
                                                    <a href="/mujer/movies?PS=12&amp;map=c,specificationFilter_20" class="link-menu">Movies</a>
                                                </li>
                                                <li>
                                                    <a href="/mujer/avengers?PS=12&amp;map=c,specificationFilter_20" class="link-menu">Avengers</a>
                                                </li>
                                                <li>
                                                    <a href="/mujer/barbie?PS=12&amp;map=c,specificationFilter_20" class="link-menu">Barbie</a>
                                                </li>
                                                <li>
                                                    <a href="/mujer/dc comics?PS=12&amp;map=c,specificationFilter_20" class="link-menu">DC Comics</a>
                                                </li>      
                                                <li>
                                                    <a href="/mujer/disney?PS=12&amp;map=c,specificationFilter_20" class="link-menu">Disney</a>
                                                </li>                                            
                                                <li>
                                                    <a href="/mujer/harry potter?PS=12&amp;map=c,specificationFilter_20" class="link-menu">Harry Potter</a>
                                                </li>
                                                <li>
                                                    <a href="/mujer/hello kitty?PS=12&amp;map=c,specificationFilter_20" class="link-menu">Hello Kitty</a>
                                                </li>                                                
                                                <li>
                                                    <a href="/mujer/marvel?PS=12&amp;map=c,specificationFilter_20" class="link-menu">Marvel</a>
                                                </li>
                                                <li>
                                                    <a href="/mujer/nickelodeon?PS=12&amp;map=c,specificationFilter_20" class="link-menu">Nickelodeon</a>
                                                </li>
                                                <li>
                                                    <a href="/mujer/los simpson?PS=12&amp;map=c,specificationFilter_20" class="link-menu">The Simpsons</a>
                                                </li>                                                                                                                                                
                                                                                          
                                            </ul>
                                            <a href="/mujer" class="link-menu see-all">
                                                VER TODO    
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/150?PS=24&amp;map=c,productClusterIds&amp;O=OrderByReleaseDateDESC" class="link-menu link-icon">
                                                <!--<img src="/arquivos/StarIcon.png" />-->Ofertas
                                            </a>
                                            <div class="menu-img">
                                                <a href="/150?PS=24&amp;map=c,productClusterIds&amp;O=OrderByReleaseDateDESC">
                                                    <img src="/arquivos/megamenu-mujer.jpg" />
                                                </a>                                                
                                                <!--<div class="text-container">
                                                    <a href="/mic/niña" class="enlace-1">
                                                        Ver más
                                                        <img src="/arquivos/PlusIconWhite.png" />
                                                    </a>
                                                </div>-->
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-first">
                            <a href="/144?PS=24&amp;map=c,productClusterIds&amp;O=OrderByReleaseDateDESC" class="link-menu link-icon">Protección</a>
                        </li>
                        <!--<li class="menu-first">
                            <a href="" class="link-menu link-icon">New</a>
                        </li>-->
                        <li class="menu-first">
                            <a href="/148?PS=24&amp;map=c,productClusterIds&amp;O=OrderByReleaseDateDESC" class="link-menu link-icon outlet"><img src="/arquivos/TagIconPlus.png" /> Ofertas</a>
                        </li>
                    </ul>
                </div>
                <div class="menu-options">
                    <div class="search">
                        <div class="searchbar-container">
                            <div class="close-img-container">
                                <img class="close-img" src="/arquivos/CrossIcon.png" />
                            </div>
                            <input id="menu-desktop-searchbar" type="text" placeholder="Buscar producto..." name="menu-desktop-searchbar" />
                        </div>
                        <img class="search-logo" src="/arquivos/SearchIcon.png" />
                    </div>
                    <div class="fav">
                        <img class="fav-logo" src="/arquivos/FavIcon.png" />
                        <p class="fav-qty">0</p>
                    </div>
                    <div class="cart">
                        <a href="/checkout/#/cart">
                            <img class="cart-logo" src="/arquivos/CartIcon.png" />
                            <p class="cart-qty">0</p>
                        </a>
                    </div>                    
                    <div class="user">
                        <a href="/_secure/account#/profile">
                            <p><img class="user-logo" src="/arquivos/UserIcon.png" /> <span></span></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="mini-cart-desktop-shadow"></div>
    <div id="mini-cart-desktop-wrapper">
        <div class="mini-cart-header">
            <div class="close-container">
                <img class="close-item" src="/arquivos/CrossCircleIcon.png" />
            </div>
            <div class="mini-cart-title-container">
                <span class="mini-cart-title">
                    mi bolsa
                </span>
            </div>
        </div>
        <div class="mini-cart-content">
            
        </div>
        <div class="mini-cart-free-shipping-bar-container">
            <div class="free-shipping-max-min-container">
                <div class="max-min-value">
                    <span>$0K</span>
                </div>
                <div class="max-min-value">
                    <span>$99K</span>
                </div>
            </div>
            <div class="free-shipping-bar">
                <div class="free-shipping-bar-quantity">
                    <div class="free-shipping-bar-progress"></div>
                </div>
            </div>
            <div class="free-shipping-title">
                <span class="free-shipping-title-success">
                    felicidades ya tienes envío gratis
                </span>
                <span class="free-shipping-title-failure">
                    faltan $30.200 para que tu envío sea gratis
                </span>
            </div>
        </div>
        <div class="mini-cart-summary">
            <div class="summary-quantity">
                <span class="summary-quantity-title">
                    items:
                </span>
                <span class="summary-quantity-value">
                    1
                </span>
            </div>
            <div class="summary-total">
                <span class="summary-total-title">
                    total:
                </span>
                <span class="summary-total-value">
                    $72.300
                </span>
            </div>
        </div>
        <div class="mini-cart-finalize-purchase">
            <a class="finalize-purchase-link" href="/checkout/#/cart">
                finalizar compra
            </a>
        </div>
    </div>     
</header>
<div class="banner-descuento-desktop inactive">
    <vtex.cmc:bannerDescuentoHeader />
</div>