    <header class="header-mobile">
        <div class="container">                
            <div class="header-movies">
                <div class="menu">
                    <div id="open-menu-nav" class="menu-icon">
                        <img src="/arquivos/HamburgerMenuIcon.png" />
                    </div>
                </div>
                <div class="header-logo">
                    <a href="/">
                        <img src="/arquivos/Logo-Movies-Mobile.png" />
                    </a>
                </div>
                <div class="menu-options">
                    <div class="search">
                        <input class="search-text" />
                        <img class="search-logo" src="/arquivos/SearchIcon.png" />
                    </div>
                    <div class="fav opt-icon">
                        <img class="fav-logo" src="/arquivos/FavIcon.png" />
                        <p class="fav-qty">0</p>
                    </div>
                    <div class="cart opt-icon">
                        <img class="cart-logo" src="/arquivos/CartIcon.png" />
                        <p class="cart-qty">0</p>
                    </div>
                    <div class="user">
                        <a href="/_secure/account#/profile">
                            <img class="user-logo" src="/arquivos/UserIcon.png" />
                        </a>
                    </div>
                </div>
            </div>
            <div id="menu-mobile-shadow"></div>
            <div id="mini-cart-mobile-shadow"></div>
            <div id="mini-cart-mobile-wrapper">
                <div class="mini-cart-header">
                    <div class="close-container">
                        <img class="close-item" src="/arquivos/CrossCircleIcon.png" />
                    </div>
                    <div class="mini-cart-title-container">
                        <span class="mini-cart-title">
                            mi bolsa
                        </span>
                    </div>
                </div>
                <div class="mini-cart-content">
                    
                </div>
                <div class="mini-cart-free-shipping-bar-container">
                    <div class="free-shipping-max-min-container">
                        <div class="max-min-value">
                            <span>$0K</span>
                        </div>
                        <div class="max-min-value">
                            <span>$99K</span>
                        </div>
                    </div>
                    <div class="free-shipping-bar">
                        <div class="free-shipping-bar-quantity">
                            <div class="free-shipping-bar-progress"></div>
                        </div>
                    </div>
                    <div class="free-shipping-title">
                        <span class="free-shipping-title-success">
                            felicidades ya tienes envío gratis
                        </span>
                        <span class="free-shipping-title-failure">
                            faltan $30.200 para que tu envío sea gratis
                        </span>
                    </div>
                </div>
                <div class="mini-cart-summary">
                    <div class="summary-quantity">
                        <span class="summary-quantity-title">
                            items:
                        </span>
                        <span class="summary-quantity-value">
                            1
                        </span>
                    </div>
                    <div class="summary-total">
                        <span class="summary-total-title">
                            total:
                        </span>
                        <span class="summary-total-value">
                            $72.300
                        </span>
                    </div>
                </div>
                <div class="mini-cart-finalize-purchase">
                    <a class="finalize-purchase-link" href="/checkout/#/cart">
                        finalizar compra
                    </a>
                </div>
            </div>
            <div id="menu-mobile-nav" class="menu-mobile">
                <div class="menu-mobile-header">
                    <div class="search-container">
                        <div class="search-input-container">
                            <img class="search-img" width="25" src="/arquivos/SearchIcon.png" />
                            <input type="text" id="menu-mobile-searchbar" placeholder="Buscar producto..." name="menu-mobile-searchbar" />
                        </div>
                        <div class="close-img-container">
                            <img class="close-img" src="/arquivos/CrossIcon.png" />
                        </div>
                    </div>                    
                </div>
                <div class="container-tab">
                    <div id="masculino-tab" class="tabcontent">
                        <ul class="menu-mobile-list">
                            <li class="menu-mobile-item menu-slide age-range">
                                <div class="text-container">
                                    <span class="text-item">HOMBRE</span>
                                </div>                            
                            </li>
                            <li class="content-slide">
                                <div class="content-slide-header">
                                    <div class="content-slide-header-main">
                                        <div class="content-slide-header-back-container menu-slide-submenu">
                                            <div class="content-slide-header-back-img">
                                                <img class="arrow-item" src="/arquivos/ArrowDown.png" />
                                            </div>
                                            <div class="content-slide-header-back-title">
                                                <span class="text-item">HOMBRE</span>
                                            </div>
                                        </div>
                                        <div class="content-slide-header-close-container">
                                            <div class="content-slide-header-close-img">
                                                <img class="arrow-item" src="/arquivos/CrossCircleIcon.png" />
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <ul class="submenu-mobile-list">
                                    <li class="submenu-mobile-item menu-collapsible">
                                        <div class="text-container">                                        
                                            <span class="text-item">Categoría</span>
                                        </div>
                                        <div class="arrow-container">
                                            <img class="arrow-item" src="/arquivos/ArrowDown.png" />
                                        </div>
                                    </li>
                                    <li class="content-collapsible">
                                        <ul class="category-list">
                                            <!--<li class="category-item">
                                                <a class="link-clear" href="/142?PS=24&amp;map=c,productClusterIds&amp;O=OrderByReleaseDateDESC">
                                                    Exclusivo
                                                </a>
                                            </li>-->
                                            <li class="category-item">
                                                <a class="link-clear" href="/155?PS=24&amp;map=c,productClusterIds&amp;O=OrderByReleaseDateDESC">
                                                    Express
                                                </a>
                                            </li>
                                            <li class="category-item">
                                                <a class="link-clear" href="/145?PS=24&amp;map=c,productClusterIds&amp;O=OrderByReleaseDateDESC">
                                                    Novedades
                                                </a>
                                            </li>                                            
                                            <li class="category-item">
                                                <a class="link-clear" href="/hombre/camisetas">
                                                    Camisetas
                                                </a>
                                            </li>
                                            <li class="category-item">
                                                <a class="link-clear" href="/hombre/pijamas-y-ropa-interior">
                                                    Pijamas y Ropa Interior
                                                </a>
                                            </li>
                                            <li class="category-item">
                                                <a class="link-clear" href="/hombre/chaquetas">
                                                    Chaquetas
                                                </a>
                                            </li>
                                            
                                            <li class="category-item">
                                                <a class="link-clear" href="/hombre/bandanas-y-tapabocas">
                                                    Bandanas y Tapabocas
                                                </a>
                                            </li>
                                            <!--<li class="category-item">
                                                <a class="link-clear" href="/hombre/accesorios">
                                                    Accesorios
                                                </a>
                                            </li>-->
                                        </ul>
                                    </li>
                                    <li class="submenu-mobile-item menu-collapsible">
                                        <div class="text-container">
                                            <span class="text-item">Personaje</span>
                                        </div>
                                        <div class="arrow-container">
                                            <img class="arrow-item" src="/arquivos/ArrowDown.png" />
                                        </div>
                                    </li>
                                    <li class="content-collapsible">
                                        <ul class="category-list">
                                            <li class="category-item">
                                                <a class="link-clear" href="/hombre">
                                                    Todos los personajes 
                                                </a>
                                            </li>
                                            <li class="category-item">
                                                <a class="link-clear" href="/hombre/movies?PS=12&amp;map=c,specificationFilter_20">
                                                    Movies
                                                </a>
                                            </li>
                                            <li class="category-item">
                                                <a class="link-clear" href="/hombre/avengers?PS=12&amp;map=c,specificationFilter_20">
                                                    Avengers
                                                </a>
                                            </li>
                                            <li class="category-item">
                                                <a class="link-clear" href="/hombre/dc comics?PS=12&amp;map=c,specificationFilter_20">
                                                    DC Comics
                                                </a>
                                            </li>
                                            <li class="category-item">
                                                <a class="link-clear" href="/hombre/disney?PS=12&amp;map=c,specificationFilter_20">
                                                    Disney
                                                </a>
                                            </li>
                                            <li class="category-item">
                                                <a class="link-clear" href="/hombre/la casa de papel?PS=12&amp;map=c,specificationFilter_20">
                                                    La Casa de Papel
                                                </a>
                                            </li>   
                                            <li class="category-item">
                                                <a class="link-clear" href="/hombre/marvel?PS=12&amp;map=c,specificationFilter_20">
                                                    Marvel
                                                </a>
                                            </li>
                                            <li class="category-item">
                                                <a class="link-clear" href="/hombre/bandas de rock?PS=12&amp;map=c,specificationFilter_20">
                                                    Rock Bands
                                                </a>
                                            </li>
                                            <li class="category-item">
                                                <a class="link-clear" href="/hombre/star wars?PS=12&amp;map=c,specificationFilter_20">
                                                    Star Wars
                                                </a>
                                            </li>
                                            <li class="category-item">
                                                <a class="link-clear" href="/hombre/los simpson?PS=12&amp;map=c,specificationFilter_20">
                                                    The Simpsons
                                                </a>
                                            </li>
                                            <li class="category-item">
                                                <a class="link-clear" href="/hombre/video games?PS=12&amp;map=c,specificationFilter_20">
                                                    Video Games
                                                </a>
                                            </li>                                                                     
                                        </ul>
                                    </li>
                                    <li class="submenu-mobile-item">
                                        <a href="/149?PS=24&amp;map=c,productClusterIds&amp;O=OrderByReleaseDateDESC" class="outstanding-link">
                                            <div class="text-container">
                                                <span class="text-item">Ofertas</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="see-all-item">
                                        <a class="see-all-link" href="/hombre">
                                            VER TODO
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div id="femenino-tab" class="tabcontent">
                        <ul class="menu-mobile-list">
                            <li class="menu-mobile-item menu-slide age-range">
                                <div class="text-container">
                                    <span class="text-item">MUJER</span>
                                </div>                            
                            </li>
                            <li class="content-slide">
                                <div class="content-slide-header">
                                    <div class="content-slide-header-main">
                                        <div class="content-slide-header-back-container menu-slide-submenu">
                                            <div class="content-slide-header-back-img">
                                                <img class="arrow-item" src="/arquivos/ArrowDown.png" />
                                            </div>
                                            <div class="content-slide-header-back-title">
                                                <span class="text-item">MUJER</span>
                                            </div>
                                        </div>
                                        <div class="content-slide-header-close-container">
                                            <div class="content-slide-header-close-img">
                                                <img class="arrow-item" src="/arquivos/CrossCircleIcon.png" />
                                            </div>
                                        </div>
                                    </div>                               
                                </div>
                                <ul class="submenu-mobile-list">
                                    <li class="submenu-mobile-item menu-collapsible">
                                        <div class="text-container">
                                            <span class="text-item">Categoría</span>
                                        </div>
                                        <div class="arrow-container">
                                            <img class="arrow-item" src="/arquivos/ArrowDown.png" />
                                        </div>
                                    </li>
                                    <li class="content-collapsible">
                                        <ul class="category-list">
                                            <!--<li class="category-item">
                                                <a class="link-clear" href="/143?PS=24&amp;map=c,productClusterIds&amp;O=OrderByReleaseDateDESC">
                                                    Exclusivo
                                                </a>
                                            </li>-->
                                            <li class="category-item">
                                                <a class="link-clear" href="/156?PS=24&amp;map=c,productClusterIds&amp;O=OrderByReleaseDateDESC">
                                                    Express
                                                </a>
                                            </li>
                                            <li class="category-item">
                                                <a class="link-clear" href="/146?PS=24&amp;map=c,productClusterIds&amp;O=OrderByReleaseDateDESC">
                                                    Novedades
                                                </a>
                                            </li>
                                            
                                            <li class="category-item">
                                                <a class="link-clear" href="/mujer/camisetas-y-tops">
                                                    Camisetas y Tops
                                                </a>
                                            </li>
                                            <li class="category-item">
                                                <a class="link-clear" href="/mujer/pijamas-y-ropa-interior">
                                                    Pijamas y Ropa interior
                                                </a>
                                            </li>
                                            <li class="category-item">
                                                <a class="link-clear" href="/mujer/chaquetas">
                                                    Chaquetas
                                                </a>
                                            </li>
                                            
                                            <li class="category-item">
                                                <a class="link-clear" href="/mujer/bandanas-y-tapabocas">
                                                    Bandanas y Tapabocas
                                                </a>
                                            </li>   
                                            <!--<li class="category-item">
                                                <a class="link-clear" href="/mujer/accesorios">
                                                    Accesorios
                                                </a>
                                            </li>-->                                       
                                        </ul>
                                    </li>
                                    <li class="submenu-mobile-item menu-collapsible">
                                        <div class="text-container">
                                            <span class="text-item">Personaje</span>
                                        </div>
                                        <div class="arrow-container">
                                            <img class="arrow-item" src="/arquivos/ArrowDown.png" />
                                        </div>
                                    </li>
                                    <li class="content-collapsible">
                                        <ul class="category-list">
                                            <li class="category-item">
                                                <a class="link-clear" href="/mujer">
                                                    Todos los personajes
                                                </a>
                                            </li>
                                            <li class="category-item">
                                                <a class="link-clear" href="/mujer/movies?PS=12&amp;map=c,specificationFilter_20">
                                                    Movies
                                                </a>
                                            </li>
                                            <li class="category-item">
                                                <a class="link-clear" href="/mujer/avengers?PS=12&amp;map=c,specificationFilter_20">
                                                    Avengers
                                                </a>
                                            </li>
                                            <li class="category-item">
                                                <a class="link-clear" href="/mujer/barbie?PS=12&amp;map=c,specificationFilter_20">
                                                    Barbie
                                                </a>
                                            </li>
                                            <li class="category-item">
                                                <a class="link-clear" href="/mujer/dc comics?PS=12&amp;map=c,specificationFilter_20">
                                                    DC Comics
                                                </a>
                                            </li>
                                            <li class="category-item">
                                                <a class="link-clear" href="/mujer/disney?PS=12&amp;map=c,specificationFilter_20">
                                                    Disney
                                                </a>
                                            </li>
                                            <li class="category-item">
                                                <a class="link-clear" href="/mujer/harry potter?PS=12&amp;map=c,specificationFilter_20">
                                                    Harry Potter
                                                </a>
                                            </li>
                                            <li class="category-item">
                                                <a class="link-clear" href="/mujer/hello kitty?PS=12&amp;map=c,specificationFilter_20">
                                                    Hello Kitty
                                                </a>
                                            </li>
                                            <li class="category-item">
                                                <a class="link-clear" href="/mujer/marvel?PS=12&amp;map=c,specificationFilter_20">
                                                    Marvel
                                                </a>
                                            </li>
                                            <li class="category-item">
                                                <a class="link-clear" href="/mujer/nickelodeon?PS=12&amp;map=c,specificationFilter_20">
                                                    Nickelodeon
                                                </a>
                                            </li>                                            
                                            <li class="category-item">
                                                <a class="link-clear" href="/mujer/los simpson?PS=12&amp;map=c,specificationFilter_20">
                                                    The Simpsons
                                                </a>
                                            </li>                                                                                                                           
                                        </ul>
                                    </li>
                                    <li class="submenu-mobile-item">
                                        <a href="/150?PS=24&amp;map=c,productClusterIds&amp;O=OrderByReleaseDateDESC" class="outstanding-link">
                                            <div class="text-container">
                                                <!--<img class="category-item" src="/arquivos/StarIcon.png" />-->
                                                <span class="text-item">Ofertas</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="see-all-item">
                                        <a class="see-all-link" href="/mujer">
                                            VER TODO
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="menu-mobile-footer">
                    <ul class="menu-mobile-list">
                        <!--<li class="menu-mobile-item bg-light bd-strong">
                            <a class="link-clear" href="/mic/148?PS=24&amp;map=c,productClusterIds&amp;O=OrderByReleaseDateDESC">
                                <div class="img-container">
                                    <img class="img-item" src="/arquivos/NewArrivalIcon.png" />
                                </div>
                                <div class="text-container">
                                    <span class="text-item">Nuevo</span>
                                </div>
                            </a>
                        </li>-->
                        <!--<li class="menu-mobile-item bg-light bd-strong">
                            <a class="link-clear" href="/mic/exclusivo-mic/">
                                <div class="img-container">
                                    <img class="img-item" src="/arquivos/FavGreenIcon.png" />
                                </div>
                                <div class="text-container">
                                    <span class="text-item">Exclusivo</span>
                                </div>
                            </a>
                        </li>-->
                        <li class="menu-mobile-item bg-black bd-black">
                            <a class="link-clear" href="/144?PS=24&amp;map=c,productClusterIds&amp;O=OrderByReleaseDateDESC">                                
                                <div class="text-container">
                                    <span class="text-item">Protección</span>
                                </div>
                            </a>
                        </li>
                        <li class="menu-mobile-item bg-black bd-black text-red">
                            <a class="link-clear" href="/148?PS=24&amp;map=c,productClusterIds&amp;O=OrderByReleaseDateDESC">                            
                                <div class="text-container">
                                    <span class="text-item">OFERTAS</span>
                                </div>
                            </a>
                        </li>                        
                        <li class="menu-mobile-item bg-strong bd-strong text-white">
                            <a class="link-clear" href="/account">
                                <div class="img-container">
                                    <img class="img-item" width="25" src="/arquivos/UserIcon.png" />
                                </div>
                                <div class="text-container">
                                    <span class="text-item user"></span>
                                </div>
                            </a>
                        </li>
                        <!--<li class="menu-mobile-item bg-strong bd-strong text-white">
                            <a class="link-clear" href="#">
                                <div class="img-container">
                                    <img class="img-item" src="/arquivos/BubbleIcon.png" />
                                </div>
                                <div class="text-container">
                                    <span class="text-item">Ayuda</span>
                                </div>
                            </a>
                        </li>-->
                        <li class="menu-mobile-item bg-strong bd-strong text-white">
                            <a class="link-clear" href="tel: 3503167311">
                                <div class="img-container">
                                    <img class="img-item" width="25" src="/arquivos/HeadphonesIcon-2.png" />
                                </div>
                                <div class="text-container">
                                    <span class="text-item">Asesoría telefónica</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="banner-descuento-mobile inactive">
        <vtex.cmc:bannerDescuentoHeader />
    </div>