*{
    font-family: $Montserrat;
    margin: 0;
    padding: 0;
    @include prefix-prop(box-sizing, border-box, moz o ms webkit spec);
}
@media(max-width: $breakpoint-mobile){
    body{
        .contenedor{
            @include prefix-val(display, flex, moz o ms webkit spec);
            @include prefix-prop(justify-content, center, moz o ms webkit spec);
            @include prefix-prop(align-items, center, moz o ms webkit spec);
            @include prefix-prop(flex-wrap, wrap, moz o ms webkit spec);
            width: 100%;
            >[class*="banner-"]{
                margin: 0 !important;
            }
            [class*="banner-"]{
                @include prefix-val(display, flex, moz o ms webkit spec);
                @include prefix-prop(justify-content, center, moz o ms webkit spec);
                @include prefix-prop(align-items, center, moz o ms webkit spec);
                @include prefix-prop(flex-wrap, wrap, moz o ms webkit spec);
                @include prefix-prop(box-sizing, border-box, moz o ms webkit spec);
                margin: 7px;
                position: relative;
                img{
                    width: calc(100% - 14px);
                    margin: 0 7px;
                    border-radius: 5px;
                }
            }
            .banner-10-mobile{
                width: 10%;
            }
            .banner-20-mobile{
                width: 20%;
            }
            .banner-25-mobile{
                width: 25%;
            }
            .banner-30-mobile{
                width: 30%;
            }
            .banner-40-mobile{
                width: 40%;
            }
            .banner-50-mobile{
                width: 50%;
            }
            .banner-60-mobile{
                width: 60%;
            }
            .banner-70-mobile{
                width: 70%;
            }
            .banner-80-mobile{
                width: 80%;
            }
            .banner-90-mobile{
                width: 90%;
            }
            .banner-100-mobile{
                width: 100%;
            }
        }
    }
    .container{
        width: 100%;
        max-width: 992px;
        margin: auto;
    }
}
@media(min-width: $breakpoint-mobile){
    body{
        .contenedor{
            @include prefix-val(display, flex, moz o ms webkit spec);
            @include prefix-prop(justify-content, center, moz o ms webkit spec);
            @include prefix-prop(align-items, center, moz o ms webkit spec);
            @include prefix-prop(flex-wrap, wrap, moz o ms webkit spec);
            width: 100%;
            >[class*="banner-"]{
                margin: 0 !important;
            }
            [class*="banner-"]{
                @include prefix-val(display, flex, moz o ms webkit spec);
                @include prefix-prop(justify-content, center, moz o ms webkit spec);
                @include prefix-prop(align-items, center, moz o ms webkit spec);
                @include prefix-prop(flex-wrap, wrap, moz o ms webkit spec);
                @include prefix-prop(box-sizing, border-box, moz o ms webkit spec);
                margin: 7px 0;
                position: relative;
                img{
                    width: calc(100% - 14px);
                    margin: 0 7px;
                    border-radius: 5px;
                }
            }
            .banner-10{
                width: 10%;
            }
            .banner-20{
                width: 20%;
            }
            .banner-25{
                width: 25%;
            }
            .banner-30{
                width: 30%;
            }
            .banner-40{
                width: 40%;
            }
            .banner-50{
                width: 50%;
            }
            .banner-60{
                width: 60%;
            }
            .banner-70{
                width: 70%;
            }
            .banner-80{
                width: 80%;
            }
            .banner-90{
                width: 90%;
            }
            .banner-100{
                width: 100%;
            }
        }
    }
    .container{
        width: 100%;
        max-width: 992px;
        margin: auto;
    }
}
@media(min-width: $breakpoint-desktop){
    .container{
        max-width: 1170px;
        margin: auto;
        padding: 0 15px;
    }
}