/*=============================================================*/
/* ICONOS */
$icon-wh: "\e92a";
$icon-address: "\e900";
$icon-angle-down: "\e901";
$icon-angle-up: "\e902";
$icon-apple: "\e903";
$icon-arrow-next: "\e904";
$icon-arrow-prev: "\e905";
$icon-arrow-selected: "\e906";
$icon-back: "\e907";
$icon-bag: "\e908";
$icon-califica: "\e909";
$icon-check: "\e90a";
$icon-close: "\e90b";
$icon-coleccion: "\e90c";
$icon-edit: "\e90d";
$icon-fb-footer: "\e90e";
$icon-fb: "\e90f";
$icon-google-plus: "\e910";
$icon-help: "\e911";
$icon-insta-footer: "\e912";
$icon-logo-blacksip: "\e913";
$icon-logo-vtex: "\e914";
$icon-menu: "\e915";
$icon-original: "\e916";
$icon-pin: "\e917";
$icon-pinterest-footer: "\e918";
$icon-pinterest: "\e919";
$icon-quickview: "\e91a";
$icon-ropa: "\e91b";
$icon-schedule: "\e91c";
$icon-search: "\e91d";
$icon-security: "\e91e";
$icon-seguro: "\e91f";
$icon-share: "\e920";
$icon-show-one: "\e921";
$icon-show-three: "\e922";
$icon-show-two: "\e923";
$icon-tallas: "\e924";
$icon-tw-footer: "\e925";
$icon-tw: "\e926";
$icon-wishlist: "\e927";
$icon-yt-footer: "\e928";
$icon-zoom: "\e929";
$icon-original1: "\e92b";

/*=============================================================*/
/* COLORES */
$color-gris: #E3E3E3;
$color-gris2: #898A8D;
$color-gris3: #F9F9F9;
$color-gris4: #9c9b9b;
$color-gris5: #EDECED;
$color-gris6: #E7EAED;
$color-blanco: #FFFFFF;
$color-negro: #000000;
$color-negro2: #242424;
$color-negro3: #131e29;
$color-negro4: #1a2939;
$color-negro5: #405972;
$color-naranja: #F38900;
$color-naranja2: #D17600;
$color-rojo: #E20613;
$color-azul: #009EE2;
$color-azul2: #2289B5;
$color-amarillo: #C7D300;
$color-rosado: #F44C7F;
$color-cafe: #EB1A2F;
$color-verde: #00AE61;
$color-verde2: #00ae61;
/*=============================================================*/
/* Tamaños Fuentes */

$font8: 0.5rem;
$font9: 0.5625rem;
$font10: 0.625rem;
$font11: 0.6875rem;
$font12: 0.75rem;
$font13: 0.8125rem;
$font14: 0.875rem;
$font15: 0.9375rem;
$font16: 1rem;
$font17: 1.13333rem;
$font18: 1.125rem;
$font19: 1.26667rem;
$font20: 1.25rem;
$font22: 1.375rem;
$font23: 1.53333rem;
$font24: 1.5rem;
$font26: 1.625rem;
$font28: 1.75rem;
$font30: 1.875rem;
$font32: 2rem;
$font34: 2.125rem;
$font36: 2.25rem;
$font38: 2.375rem;
$font40: 2.5rem;
$font41: 1.1rem;

/*=============================================================*/
/* BREAKPOINTS */
$breakpoint-mobile1: 490px;
$breakpoint-mobile: 769px;
$breakpoint-tablet: 992px;
$breakpoint-desktop: 1280px;
$breakpoint-normal-desktop: 1366px;
$breakpoint-big-desktop: 1440px;
$breakpoint-grid-checkout: 980px;

/*=============================================================*/
/* UTILITIES */
$trans-rapida: 0.2s;
$trans-normal: 0.4s;
$trans-lenta: 0.6s;
$letter-space-uppercase: 0.18em;
$letter-space-medium: 0.15em;
$letter-space-lowercase: 0.1em;
$letter-space-normal: 1px;
